<!DOCTYPE html>
<html lang="utf-8">
<script>
const settings = {
  async: true,
  crossDomain: true,
  url: 'https://openapi.gooroomee.com/api/v1/room',
  method: 'POST',
  headers: {
    accept: 'application/json',
    'content-type': 'application/x-www-form-urlencoded',
    'X-GRM-AuthToken': '12056163501988613cf51b7b51cdd8140bb172761d02211a8b'
  },
  data: {
    callType: 'P2P',
    liveMode: false,
    maxJoinCount: 4,
    liveMaxJoinCount: 100
  }
};

$.ajax(settings).done(function (response) {
  console.log(response);
});
</script>
</html>