<!DOCTYPE html>
<html lang="utf-8">
<head>
<link th:href="@{/plugins/colorbox/colorbox.css}" rel="stylesheet"
	type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/styles/courses.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/styles/courses_responsive.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap"
	rel="stylesheet">
<script th:src="@{/plugins/colorbox/jquery.colorbox-min.js}"></script>
<script th:src="@{/js/courses.js}"></script>
<script src="@{/js/jquery.twbsPagination.js}"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.0.1/kakao.min.js"
	integrity="sha384-eKjgHJ9+vwU/FCSUG3nV1RKFolUXLsc6nLQ2R1tD0t4YFPCvRmkcF8saIfOZNWf/"
	crossorigin="anonymous"></script>
</head>
<style>
.contact_info_title {
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	font-weight: 700;
	color: #384158;
}
</style>
<script>
$(document).ready(function(){
	$('#search_button1').click(function(){
		$('#search_form_mentoring').attr({
			method:'get',
			action:'[[@{/mentoring/mainsearch}]]'
			
		});
		$('#search_form_mentoring').submit();

	});
});
	
</script>
<script>
function checkOnlyOne(element) {
	  //중복선택 방지
	  const checkboxes 
	      = document.getElementsByName("mentoringtype");
	  
	  checkboxes.forEach((cb) => {
	    cb.checked = false;
	  })
	  
	  element.checked = true;
	  
	  //선택 값 가져오기
	  var mtype;
	  $('input:checkbox[name=mentoringtype]').each(function (index) {
		if($(this).is(":checked")==true){
    	mtype=$(this).val();
    	}
	
	  });
	  
	  //선택된 것으로 mentoring 출력
	 var selcatename = $('#selcatename').val(); 
	 var meningnum = $('#meningnum').val();
	location.href = '[[@{/mentoring/multimainsearch1?mname=}]]'+selcatename + '&[[@{mtype=}]]' + mtype+'&[[@{meningnum=}]]' + meningnum;

	}
</script>
<!-- Home -->

<div class="home">
	<div class="breadcrumbs_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="breadcrumbs">
						<ul>
							<li><a th:href="@{/}">Home</a></li>
							<li>Mentoring</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Courses -->

<div class="courses">
	<div class="container">
		<div class="row">

			<!-- Courses Main Content -->
			<div class="col-lg-8">

				<div class="contact_info_title">Mentoring</div>
				<div class="courses_search_container">
					<form id="search_form_mentoring"
						class="courses_search_form d-flex flex-row align-items-center justify-content-start">
						<input name="txt" type="text" class="courses_search_input"
							placeholder="Search Mentorng" required="required"
							style="width: 100%;">
						<button id="search_button1" class="courses_search_button ml-auto"
							type="submit">search now</button>
					</form>
				</div>
				<div class="courses_container">
					<div class="row courses_row">

						<!-- Course -->
						<div th:each="mtr:${mtr}" class="col-lg-6 course_col">
							<div class="course">
								<div class="course_image">
									<a
										th:href="@{/mentoring/mentoringdetail(mentoringid=${mtr.mentoringid})}"><img
										th:src="@{/img/}+${mtr.mentoringimg}" alt=""></a>
								</div>
								<div class="course_body">
									<h3 class="course_title">
										<a
											style="float: left; font-family: 'IBM Plex Sans KR', sans-serif;"
											th:text="${mtr.mtitle}"
											th:href="@{/mentoring/mentoringdetail(mentoringid=${mtr.mentoringid})}"></a>
									</h3>
									<ul style="list-style: none;">
										<li><a id="kakaotalksharingbtn"><img
												th:onclick="shareMessage([[${mtr.mentoringid}]],[[${mtr.mtitle}]])"
												style="width: 25px; height: 25px; float: left;"
												src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_small.png"
												alt="카카오톡 공유 보내기 버튼" /></a></li>
									</ul>
									<br> <br>
									<div style="display: inline; color: black;">
										<span style="font-family: 'IBM Plex Sans KR', sans-serif;">아이디:</span>
									</div>
									<div style="display: inline; color: black;"
										class="course_teacher" th:text="${mtr.user_userid}"></div>
									<br>
									<div style="display: inline; color: black;">
										<span style="font-family: 'IBM Plex Sans KR', sans-serif;">시간별
											모집 정원:</span>
									</div>
									<div style="display: inline; color: black;" class="course_text"
										th:text="${mtr.mmemberidcnt}"></div>
									<br>
									<div class="teacher_meta_text ml-auto"
										th:if="${mtr.date_difference >= 0 }">
										<span class="badge badge-pill badge-primary"
											style="margin-top: 10px; margin-bottom: 18px; float: right; color: #FFFFFF">진행가능</span>
									</div>
									<div class="teacher_meta_text ml-auto"
										th:if="${mtr.date_difference < 0}">
										<span class="badge badge-pill badge-danger"
											style="margin-top: 10px; margin-bottom: 18px; float: right; color: #FFFFFF">진행완료</span>
									</div>
									<div class="teacher_meta_text ml-auto"
										th:if="${mtr.mentorurl == 'nonface'}">
										<span class="badge badge-pill badge-primary"
											style="margin-top: 10px; margin-bottom: 18px; float: right; background-color: #006400; color: #FFFFFF;">비대면</span>
									</div>
									<div class="teacher_meta_text ml-auto"
										th:if="${mtr.mentorurl == 'face'}">
										<span class="badge badge-pill badge-danger"
											style="margin-top: 10px; margin-bottom: 18px; float: right; background-color: #FF8C00; color: #FFFFFF;">대면</span>
									</div>
									<div class="teacher_meta_text ml-auto"
										th:if="${mtr.mcaring == 1}">
										<span class="badge badge-pill badge-danger"
											style="margin-top: 10px; margin-bottom: 18px; float: right; background-color: #4B0082; color: #FFFFFF;">care</span>
									</div>

								</div>
								<div class="course_footer">
									<div
										class="course_footer_content d-flex flex-row align-items-center justify-content-start">
										<div class="course_info">
											<i class="fa fa-graduation-cap" aria-hidden="true"></i> <span
												style="font-family: 'IBM Plex Sans KR', sans-serif;">현직:</span>
											<span th:text="${mtr.mentor_mentorcom}">20 Student</span>
										</div>
										<div class="course_info">
											<i class="fa-solid fa-sack-dollar" aria-hidden="true"></i> <span
												style="font-family: 'IBM Plex Sans KR', sans-serif;">가격:</span>
											<span th:text="${mtr.mentoringprice}">5 Ratings</span>
										</div>


									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row pagination_row">
						<div class="col">
							<div
								class="pagination_container d-flex flex-row align-items-center justify-content-start">
								<ul class="pagination_list" style="width:630px;float:left;">
									<li><a 
										th:href="@{/mentoring/pagingcheck(meningnum=${meningnum}-6)}"><i
											class="fa fa-angle-left" aria-hidden="true" id="prev_page"></i></a></li>
								</ul>
								<ul class="pagination_list" style="float:right;">
									<li><a th:href="@{/mentoring/pagingcheck(meningnum=${meningnum}+6)}"><i class="fa fa-angle-right" aria-hidden="true" id="next_page"></i></a></li>
								</ul>
							</div>
							<!-- 									<li><a th:href="@{/mentoring/mentoring(meningnum=${meningnum})}">1</a></li>
									<li><a th:href="@{/mentoring/mentoring(meningnum=${meningnum}+6)}">2</a></li>
									<li><a th:href="@{/mentoring/mentoring(meningnum=${meningnum}+12)}">3</a></li>
									<li><a th:href="@{/mentoring/mentoring(meningnum=${meningnum}+18)}">4</a></li>
									<li><a th:href="@{/mentoring/mentoring(meningnum=${meningnum}+24)}">5</a></li> -->
						</div>
					</div>
				</div>
			</div>

		<!-- Courses Sidebar -->
		<div class="col-lg-4">
			<div class="sidebar">
				<!-- Latest Course -->
				<div class="sidebar_section">
					<div style="margin-top: 50px;" th:if="${ms != null}"
						class="sidebar_section_title">Mentoring Register</div>
					<div class="sidebar_latest">
						<!-- Latest Course -->
						<div
							class="latest d-flex flex-row align-items-start justify-content-start">
							<div>
								&nbsp&nbsp&nbsp&nbsp
								<button type="button" th:if="${ms != null}"
									th:onclick="|location.href='@{/mentoring/mentoringregister(userid=${session.loginuser.userid})}'|"
									class="home_search_button"
									style="width: 180px; font-weight: bold;">멘토링 등록하기</button>
							</div>
						</div>
					</div>
				</div>
				<form id="typeselectmentoring">
					<div class="sidebar_section">
						<div class="sidebar_section_title">Categories</div>
						<div class="sidebar_categories">
							<ul>
								<li><a th:href="@{/mentoring/mentoring}" th:text="${'all'}"
									th:value="${'all'}"><input type="hidden" name='mname' id="mname"
										th:value="${'all'}" th:text="${'all'}"></a></li>
								<li th:each="mtc:${mtcatelist}"><a
									th:href="@{/mentoring/mentoringCate(mname=${mtc.mname},meningnum=${page})}"
									th:value="${mtc.mname}" th:text="${mtc.mname}"
									th:style="${mtc.mname == selcatename ? 'color: #14bdee;' : 'color: #000000;'}"><input
										type="hidden" th:text="${mtc.mname}" name='mname' id="mname"
										th:value="${mtc.mname}"></a></li>
							</ul>
						</div>
					</div>
					<div class="sidebar_section">
						<div class="sidebar_section_title">Type</div>
						<div class="sidebar_categories">
							<p>
								<input type="checkbox" name='mentoringtype' value='lowprice'
									th:onclick="checkOnlyOne(this)" id="lowprice"> <label
									for="lowprice">가격순</label>
							</p>
							<p>
								<input type="checkbox" name='mentoringtype' value='recentmen'
									th:onclick="checkOnlyOne(this)" id="recentmen"> <label
									for="recentmen">가장 빠른순</label>
							</p>
							<p>
								<input type="checkbox" name='mentoringtype' value='orderreview'
									th:onclick="checkOnlyOne(this)" id="orderreview"> <label
									for="orderreview">별점순</label>
							</p>
							<p>
								<input type="checkbox" name='mentoringtype' value='mcaringok'
									th:onclick="checkOnlyOne(this)" id="mcaringok"> <label
									for="mcaringok">사후관리</label>
							</p>
						</div>
					</div>
					<input type="hidden" id='selcatename' th:value="${selcatename}">
					<input type="hidden" id='meningnum' th:value="${page}">
				</form>
			</div>
		</div>
	</div>
</div>
</div>
<script>
  Kakao.init('b67794657ed6e950ec05402c7a55d07f'); // 사용하려는 앱의 JavaScript 키 입력
</script>

<script>
function shareMessage(mentoringid,mtitle) {
Kakao.Share.sendDefault({
    objectType: 'feed',
    content: {
      title: 'Mogotco mentor',
      description: 'mentorid : '+mtitle,
      imageUrl:
          '',
      link: {
        // [내 애플리케이션] > [플랫폼] 에서 등록한 사이트 도메인과 일치해야 함
        mobileWebUrl: 'http://http://49.50.174.57:8080/mogotco/mentoring/mentoringdetail?mentoringid='+mentoringid,
        webUrl: 'http://http://49.50.174.57:8080/mogotco/mentoring/mentoringdetail?mentoringid='+mentoringid,
      },
    },
    buttons: [
      {
        title: 'web',
        link: {
          mobileWebUrl: 'http://http://49.50.174.57:8080/mogotco/mentoring/mentoringdetail?mentoringid='+mentoringid,
          webUrl: 'http://http://49.50.174.57:8080/mogotco/mentoring/mentoringdetail?mentoringid='+mentoringid,
        },
      },
      {
        title: 'app',
        link: {
          mobileWebUrl: 'http://http://49.50.174.57:8080/mogotco/mentoring/mentoringdetail?mentoringid='+mentoringid,
          webUrl: 'http://http://49.50.174.57:8080/mogotco/mentoring/mentoringdetail?mentoringid='+mentoringid,
        },
      },
    ],
  });
}
</script>