<!DOCTYPE html>
<html lang="utf-8">

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact_responsive.css}">
<script th:src="@{/plugins/marker_with_label/marker_with_label.js}"></script>
<script th:src="@{/js/contact.js}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css">
<style>
#pubutton{
margin-left: 11%;
}

#mcbutton{
margin-left: 1%;
}
</style>


<script>
function sample6_execDaumPostcode() {
    new daum.Postcode({
        oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var addr = ''; // 주소 변수
            var extraAddr = ''; // 참고항목 변수

            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
            }

            // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
            if(data.userSelectedType === 'R'){
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraAddr !== ''){
                    extraAddr = ' (' + extraAddr + ')';
                }
                // 조합된 참고항목을 해당 필드에 넣는다.
                document.getElementById("sample6_extraAddress").value = extraAddr;
            
            } else {
                document.getElementById("sample6_extraAddress").value = '';
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('sample6_postcode').value = data.zonecode;
            document.getElementById("sample6_address").value = addr;
            // 커서를 상세주소 필드로 이동한다.
            document.getElementById("sample6_detailAddress").focus();
        }
    }).open();
}

$(document).ready(function(){
	$('#register_btn').click(function(){
		$('#register_form').attr({
			'enctpe':'multipart/form-data',
			'method':'post',
			'action':'[[@{/mentor/registerimpl}]]'
		});
		$('#register_form').submit();
	});
});

function previewprofile(event) {// 프로필 이미지 미리 보여주기
	    var reader = new FileReader();

	    reader.onload = function(event) {
	    	$('#uploadprofile').attr('src',event.target.result);
	    	$('#uploadprofile').attr('style','width:300px; hight:300px;');
	    };
	    reader.readAsDataURL(event.target.files[0]);
	  }

</script>
</head>
	<!-- Home -->

	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a th:href="@{/}">Home</a></li>
								<li>APPLY</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>

	<!-- Contact -->

	<div class="contact">

		<!-- Contact Info -->

		<div class="contact_info_container">
			<div class="container">
				<div class="row">

					<!-- Contact Form -->
					<div class="col-lg-8">
						<div class="contact_form">
							<div class="contact_info_title">Mentoring Register</div>
							<form class="register_form" id = "register_form" enctype="multipart/form-data">
							
								
								<div>
									<label class="form_title"> 
										  파일 업로드 버튼을 눌러 프로필 이미지를 등록해주세요.
										<div>
											<img id="uploadprofile" th:src="@{/images/defaultprofileupload.jpg}" style="width:200px">
										</div>
									<label id="pubutton" class="btn btn-dark" for="mpimg" style="width:110px;height:35px;font-size:15px">파일 업로드</label>
									</label>
									<input type="file" style="display:none" name="mpimg" id="mpimg" onchange="previewprofile(event);">
								</div>
								
								<div>
									<label for = "userid" class="form_title">멘토번호</label>
									<input type="text" class="userid comment_input" id = "userid" name = "userid" value = "" readonly="readonly">
								</div>
																
								<div>
									<label for = "mentorcom" class="form_title">멘토링 날짜 선택<span style="color:red"> *</span></label>
										<input class="form-control border-0" type="date" placeholder="Select Date" style="width:250px; height:40px; outline:2px solid #d3d3d3; background-color:white; color:black;">
							   </div>
							   
							   	<div>
									<label for = "mentorcom" class="form_title">멘토링 시간 선택<span style="color:red"> *</span></label><br>
										<select style="font-size:15px; width:150px; height:40px; border-style: none; border-radius:2px; outline:2px solid #d3d3d3;">
											<option selected>10:00</option>
											<option>11:00</option>
											<option>12:00</option>
											<option>13:00</option>
											<option>14:00</option>
											<option>15:00</option>
											<option>16:00</option>
											<option>17:00</option>
											<option>18:00</option>
											<option>19:00</option>
											<option>20:00</option>
											<option>21:00</option>
											<option>22:00</option>
										</select>
							   </div>
							   
							   <div>
									<label for = "mentorcom" class="form_title">카테고리 선택<span style="color:red"> *</span></label><br>
										<select style="font-size:15px; width:150px; height:40px; border-style: none; border-radius:2px; outline:2px solid #d3d3d3;">
											<option selected>웹</option>
											<option>보안</option>
											<option>네트워크</option>
											<option>데이터사이언스</option>
											<option>게임</option>
											<option>AI</option>
											<option>CLOUD</option>
											<option>기타질문</option>
										</select>
							   </div>
							   
							   	<div>
									<label for = "mentorcom" class="form_title">케어 서비스<span style="color:red"> *</span></label><br>
										<select style="font-size:15px; width:150px; height:40px; border-style: none; border-radius: 2px; outline:2px solid #d3d3d3">
											<option selected>있음</option>
											<option>없음</option>
										</select>
							   </div>

								<div style = "display:none">
									<label for = "adminid" class="form_title">Adminid</label>
									<input type="text" class="comment_input" id = "adminid" name = "adminid">
								</div>
												
								<div>
									<label for = "mentorcom" class="form_title">모집정원<span style="color:red"> *</span></label><br>
									<input type="number" min="1" class="comment_input" id = "mentorcom" name = "mentorcom" style="width:160px; height:40px;">
								</div>
								
								<div>
									<label for = "mentorcom" class="form_title">멘토링 가격<span style="color:red"> *</span></label><br>
									<input type="number" min="0" class="comment_input" id = "mentorcom" name = "mentorcom" style="width:160px; height:40px;">
								</div>
								

								<div>
									<label for = "mentorcon" class="form_title">멘토링 제목<span style="color:red"> *</span></label>
									<textarea class="comment_input" id = "mentorcon" name = "mentorcon"></textarea>
								</div>

								<div>
									<label for = "mentorcareer" class="form_title">멘토링 내용<span style="color:red"> *</span></label>
									<textarea class="comment_input" id = "mentorcareer" name = "mentorcareer" style="height:160px;"></textarea>
								</div>
								
								<div>
									<label for = "mentorcom" class="form_title">비대면 멘토링 URL<span style="color:red"> *</span></label>
									<input type="text" class="comment_input" id = "mentorcom" name = "mentorcom" placeholder="URL을 입력해주세요">
								</div>
								
								<div>
									<label for = "address" class="address_form">대면장소(멘토링) 주소찾기<span style="color:red"> *</span></label>
									<input type="text" class="comment_input_postno" name = "addrnum" id="sample6_postcode" placeholder="우편번호" readonly>
									<input type="button" class="comment_button_post trans_200" onclick="sample6_execDaumPostcode()" value="주소찾기"><br>
									<input type="text" class="comment_input_address" name = "useraddr" id="sample6_address" placeholder="주소" readonly><br>
									<input type="text" class="comment_input_detail" name = "addrdetail" id="sample6_detailAddress" placeholder="상세주소">
									<input type="text" class="comment_input_detail" name = "addrextra" id="sample6_extraAddress" placeholder="참고항목" readonly>
								</div>
								
								<div>
									<label for = "mentorcom" class="form_title">멘토링 등록날짜<span style="color:red"> *</span></label><br>
									<input type="date" id="now_date" style="font-size:15px; width:150px; height:40px; border-style: none; border-radius:2px; outline:2px solid #d3d3d3;" readonly>
									<script>
										document.getElementById('now_date').valueAsDate = new Date();
									</script>
								</div>
								
							</form>
								<button id = "register_btn" class="comment_button trans_200">Register</button>
														
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>