<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mogotco.mapper.MentorcardMapper">

	<select id="select" parameterType="Integer" resultType="MentorcardDTO">
		SELECT * FROM mentorcard WHERE mcardid=#{mcardid}
	</select>

	<select id="selectAll" resultType="MentorcardDTO">
		SELECT * FROM mentorcard
	</select>

	<insert id="insert" parameterType="MentorcardDTO">
		INSERT INTO mentorcard VALUES (NULL,#{mentorid},#{mcardcom},#{mcardname},#{mcardposition})
	</insert>
	
	<update id="update" parameterType="MentorcardDTO">
		UPDATE mentorcard SET mentorid=#{mentorid},mcardcom=#{mcardcom},mcardname=#{mcardname},mcardposition=#{mcardposition} WHERE mcardid=#{mcardid}
	</update>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM mentorcard WHERE mcardid=#{mcardid}
	</delete>

</mapper>







