<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mogotco.mapper.MentoringOptionMapper">

	<select id="select" parameterType="Integer"
		resultType="MentoringOptionDTO">
		SELECT * FROM mentoringoption WHERE
		mentoringoptionid=#{mentoringoptionid}
	</select>

	<select id="selectAll" resultType="MentoringOptionDTO">
		SELECT * FROM mentoringoption
	</select>

	<insert id="insert" parameterType="MentoringOptionDTO">
		INSERT INTO mentoringoption VALUES
		(NULL,#{mentoringid},#{mentoringtime},#{moptionstock})
		<selectKey keyProperty="mentoringoptionid"
			resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<update id="update" parameterType="MentoringOptionDTO">
		UPDATE mentoringoption SET
		mentoringid=#{mentoringid},mentoringtime=#{mentoringtime},moptionstock=#{moptionstock}
		WHERE mentoringoptionid=#{mentoringoptionid}
	</update>

	<delete id="delete" parameterType="Integer">
		DELETE FROM mentoringoption
		WHERE mentoringoptionid=#{mentoringoptionid}
	</delete>

	<!-- 멘토링 옵션의 시간 출력 -->
	<select id="viewMentorigTime" parameterType="Integer"
		resultType="MentoringOptionDTO">
		SELECT mto.mentoringoptionid, mto.mentoringid, mto.mentoringtime FROM
		mentoringoption mto
		INNER JOIN mentoring mt ON mto.mentoringid =
		mt.mentoringid
		WHERE mto.mentoringid=#{mentoringid}
	</select>

	<!-- 멘토링 옵션의 재고 출력 -->
	<select id="viewMentoringStock" parameterType="Integer"
		resultType="MentoringOptionDTO">
		SELECT mto.moptionstock FROM mentoringoption mto
		INNER JOIN
		mentoring mt ON mto.mentoringid = mt.mentoringid
		WHERE
		mto.mentoringid=#{mentoringid}
		GROUP BY mto.moptionstock
	</select>

	<!-- 멘토링 옵션의 시간,재고 함께 출력 -->
	<select id="viewMentoringOp" parameterType="Integer"
		resultType="MentoringOptionDTO">
		SELECT mto.mentoringtime, mto.moptionstock FROM
		mentoringoption mto
		INNER JOIN mentoring mt ON mto.mentoringid =
		mt.mentoringid
		WHERE mto.mentoringid = #{mentoringid}
	</select>

	<!-- 멘토링과 멘토링 시간에 따른 멘토링옵션id출력(mentoringdetail->purchase) (choyunyoung add)-->
	<select id="viewmentoringoptionid"
		resultType="MentoringOptionDTO">
		select mentoringoptionid From mentoringoption mo
		Where mo.mentoringtime = #{mentoringtime} and mo.mentoringid=#{mentoringid}
	</select>

</mapper>