<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mogotco.mapper.MentoringTimeMapper">
	
	<select id="select" parameterType="Integer" resultType="MentoringTimeDTO">
		SELECT * FROM mentoringtime WHERE mentoringtimeid=#{mentoringtimeid}
	</select>
	
	<select id="selectAll" resultType="MentoringTimeDTO">
		SELECT * FROM mentoringtime
	</select>
	
	<insert id="insert" parameterType="MentoringTimeDTO">
		INSERT INTO mentoringtime VALUES (NULL,#{mentoringid},#{mentoringtime})
	</insert>
	
	<update id="update" parameterType="MentoringTimeDTO">
		UPDATE mentoringtime SET mentoringid=#{mentoringid}, mentoringtime=#{mentoringtime} WHERE mentoringtimeid=#{mentoringtimeid}
	</update>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM mentoringtime WHERE mentoringtimeid=#{mentoringtimeid}
	</delete>
	
</mapper>