<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mogotco.mapper.MentorMapper">

	<select id="select" parameterType="Integer" resultType="MentorDTO">
		SELECT * FROM mentor WHERE mentorid=#{mentorid}
	</select>
	
	<select id="selectAll" resultType="MentorDTO">
		SELECT * FROM mentor
	</select>
	
	<insert id="insert" parameterType="MentorDTO">
		INSERT INTO mentor (mentorid, userid, adminid, mentorcom, mentorcon, mentorimg, mcardimg, mentorok, mentordate) VALUES (NULL,#{userid},#{adminid},#{mentorcom},#{mentorcon},#{mentorimg},#{mcardimg},#{mentorok},SYSDATE())
	</insert>
	
	<update id="update" parameterType="MentorDTO">
		UPDATE mentor SET userid=#{userid},adminid=#{adminid},mentorcom=#{mentorcom},mentorcon=#{mentorcon},mentorimg=#{mentorimg},mcardimg=#{mcardimg},mentorok=#{mentorok},cancelmentoring=#{cancelmentoring} WHERE mentorid=#{mentorid}
	</update>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM mentor WHERE mentorid=#{mentorid}
	</delete>

</mapper>







