<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mogotco.mapper.MentoringMapper">
	
	<select id="select" parameterType="Integer" resultType="MentoringDTO">
		SELECT * FROM mentoring WHERE mentoringid=#{mentoringid}
	</select>
	
	<select id="selectAll" resultType="MentoringDTO">
		SELECT * FROM mentoring
	</select>
	
	<insert id="insert" parameterType="MentoringDTO">
		INSERT INTO mentoring VALUES (NULL,#{mentorid},#{mcateid},#{mentoringprice},#{mentoringdate},
		#{mentoringimg},#{mentorurl},#{mmemberidcnt},sysdate(),#{mplace},#{mcontents})
	</insert>
	
	<update id="update" parameterType="MentoringDTO">
		UPDATE mentoring SET mentorid=#{mentorid}, mcateid=#{mcateid}, mentoringprice=#{mentoringprice}, 
		mentoringdate=#{mentoringdate}, mentoringimg=#{mentoringimg}, mentorurl=#{mentorurl}, 
		mmemberidcnt=#{mmemberidcnt}, mrdate=sysdate(), mplace=#{mplace}, mcontents=#{mcontents} 
		WHERE mentoringid=#{mentoringid}
	</update>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM mentoring WHERE mentoringid=#{mentoringid}
	</delete>
	
</mapper>