<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mogotco.mapper.MWishcateMapper">

	<select id="mwcate" parameterType="Integer" resultType="MWishcateDTO">
		SELECT mw.mwishcateid, mw.mentorid, mw.mcateid, mc.mname as mcate_mname 
		FROM mwishcate mw
		INNER JOIN mcate mc ON mc.mcateid = mw.mcateid
		WHERE mentorid = #{mentorid}
	</select>

	<select id="select" parameterType="Integer" resultType="MWishcateDTO">
		SELECT * FROM mwishcate WHERE mwishcateid=#{mwishcateid}
	</select>
	
	<select id="selectAll" resultType="MWishcateDTO">
		SELECT * FROM mwishcate
	</select>
	
	<insert id="insert" parameterType="MWishcateDTO">
		INSERT INTO mwishcate VALUES (NULL,#{mcateid},#{mentorid})
	</insert>
	
	<update id="update" parameterType="MWishcateDTO">
		UPDATE mwishcate SET mcateid=#{mcateid} WHERE mwishcateid=#{mwishcateid}
	</update>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM mwishcate WHERE mwishcateid=#{mwishcateid}
	</delete>

</mapper>







