<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mogotco.mapper.PurchaseDetailMapper">

	<select id="select" parameterType="Integer"
		resultType="PurchaseDetailDTO">
		SELECT * FROM purchasedetail WHERE
		purchasedetailid=#{purchasedetailid}
	</select>
	<select id="selectAll" resultType="PurchaseDetailDTO">
		SELECT * FROM purchasedetail
	</select>

	<!-- 대면구매이력(구매번호,구매날짜,가격,결제방법,멘토링제목,멘토이름,멘토링 날짜,시간,대면장소, 진행여부) -->
	<select id="facedetail" parameterType="String"
		resultType="PurchaseDetailDTO">
		SELECT purde.purchasedetailid, pur.purdate AS
		purchase_purdate, pur.purprice AS purchase_purprice,pur.purpay AS
		purchase_purpay,
		mentoring.mtitle AS mentoring_mtitle, u.username AS
		user_mentorname,mentoring.mentoringdate AS mentoring_mentoringdate,
		mentoringoption.mentoringtime AS mentoringoption_mentoringtime,
		mentoring.mplace AS mentoring_mplace, purde.progresspur FROM
		purchasedetail purde
		INNER JOIN purchase pur ON
		purde.purchaseid=pur.purchaseid
		INNER JOIN mentoringoption
		mentoringoption ON
		purde.mentoringoptionid=mentoringoption.mentoringoptionid
		INNER JOIN
		mentoring mentoring ON
		mentoringoption.mentoringid=mentoring.mentoringid
		INNER JOIN mentor
		mentor ON mentoring.mentorid=mentor.mentorid
		INNER JOIN user u ON
		mentor.userid=u.userid
		WHERE pur.userid=#{userid}
	</select>

	<!-- 비대면구매이력(구매번호,구매날짜,가격,결제방법,멘토링제목,멘토이름,멘토링 날짜,시간,비대면영상 url, 진행여부) -->
	<select id="remotedetail" parameterType="String"
		resultType="PurchaseDetailDTO">
		SELECT purde.purchasedetailid, pur.purdate AS
		purchase_purdate, pur.purprice
		AS purchase_purprice,pur.purpay AS
		purchase_purpay,
		mentoring.mtitle AS mentoring_mtitle, u.username AS
		user_mentorname,mentoring.mentoringdate AS mentoring_mentoringdate,
		mentoringoption.mentoringtime AS mentoringoption_mentoringtime,
		mentoring.mentorurl AS mentoring_mentorurl, purde.progresspur FROM
		purchasedetail purde
		INNER JOIN purchase pur ON
		purde.purchaseid=pur.purchaseid
		INNER JOIN mentoringoption
		mentoringoption ON
		purde.mentoringoptionid=mentoringoption.mentoringoptionid
		INNER JOIN
		mentoring mentoring ON
		mentoringoption.mentoringid=mentoring.mentoringid
		INNER JOIN mentor
		mentor ON mentoring.mentorid=mentor.mentorid
		INNER JOIN user u ON
		mentor.userid=u.userid
		WHERE pur.userid=#{userid}
	</select>
	
	<!-- 현재 멘토링 멤버 상황 -->
	<select id="groupcount" parameterType="Integer"
		resultType="PurchaseDetailDTO">
		SELECT COUNT(mentoringmember.mmemberid) AS mentoringmembercnt FROM
		mentoringmember
		WHERE mentoringmember.mentoringoptionid=#{mentoringoptionid}
	</select>

	<!-- id,pwd를 끄집어낼 때는 get,set으로 입력받고 나오게 될것 -->
	<insert id="insert" parameterType="PurchaseDetailDTO">
		INSERT INTO purchasedetail
		(purchasedetailid, mentoringoptionid, purchaseid)VALUES
		(NULL,#{mentoringoptionid},#{purchaseid})
	</insert>

	<!-- 아마 update,delete가 필요 없을 듯 -->
	<update id="update" parameterType="PurchaseDetailDTO">
		UPDATE purchasedetail SET
		mentoringid=#{mentoringid},purchaseid=#{purchaseid},cancelpur=#{cancelpur}
		WHERE purchasedetailid=#{purchasedetailid}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM purchasedetail
		WHERE purchasedetailid=#{purchasedetailid}
	</delete>

</mapper>







