<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mogotco.mapper.PurchaseDetailMapper">

	<select id="select" parameterType="String" resultType="PurchaseDetailDTO">
		SELECT * FROM cust WHERE id=#{id}
	</select>
	<select id="selectAll" resultType="PurchaseDetailDTO">
		SELECT * FROM cust
	</select>
	<!-- id,pwd를 끄집어낼 때는 get,set으로 입력받고 나오게 될것 -->
	<insert id="insert" parameterType="PurchaseDetailDTO">
		INSERT INTO cust VALUES (#{id},#{pwd},#{name})
	</insert>
	<update id="update" parameterType="PurchaseDetailDTO">
		UPDATE cust SET pwd=#{pwd},name=#{name} WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM cust WHERE id=#{id}
	</delete>

</mapper>







