<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mogotco.mapper.ReviewMapper">
	
	<insert id="insert" parameterType="reviewDTO">
		INSERT INTO review VALUES(NULL, #{mentoringid}, #{userid}, #{rating}, #{reviewcon}, sysdate())
	</insert> 
	
	<update id="update" parameterType="reviewDTO">
		UPDATE review SET rating = #{rating}, reviewcon = #{reviewcon}
		WHERE reviewid = #{reviewid}
	</update>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM review WHERE reviewid = #{reviewid}
	</delete> 
	
	<select id="select" parameterType="Integer" resultType="reviewDTO">
		SELECT * FROM review WHERE reviewid = #{reviewid}
	</select>
	
	<select id="selectAll" resultType="reviewDTO">
		SELECT * FROM review
	</select>
	
	<select id="getmentorreview" parameterType="String" resultType="reviewDTO">
		SELECT m.userid AS mentor_userid, r.userid, r.rating, r.reviewcon, r.reviewdate FROM review r
		INNER JOIN mentoring ming ON r.mentoringid = ming.mentoringid
		INNER JOIN mentor m ON ming.mentorid = m.mentorid
		WHERE m.userid = #{userid}
	</select>

</mapper>