<!DOCTYPE html>
<html lang="en">
<head>
<link th:href="@{/plugins/colorbox/colorbox.css}" rel="stylesheet"
	type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/styles/course.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/styles/course_responsive.css}">
<script th:src="@{/plugins/colorbox/jquery.colorbox-min.js}"></script>
<script th:src="@{/js/course.js}"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.0.1/kakao.min.js"
	integrity="sha384-eKjgHJ9+vwU/FCSUG3nV1RKFolUXLsc6nLQ2R1tD0t4YFPCvRmkcF8saIfOZNWf/"
	crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact.css}">

</head>


<!-- Home -->

<div class="home">
	<div class="breadcrumbs_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="breadcrumbs">
						<ul>
							<li><a th:href="@{/}">Home</a></li>
							<li><a th:href="@{/mentor/mentorlist}">Mentor</a></li>
							<li>Mentor Details</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Course -->

<div class="course">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="course_container">

					<!-- Feature_course -->
					<div class="sidebar_section">
						<!-- <div class="course_title">Course Feature</div> -->
						<div class="sidebar_feature">

							<!-- Features -->

						</div>
					</div>

					<!-- Feature -->
					<div class="sidebar_section">
						<div class="sidebar_section_title">Mentor</div>
						<div class="sidebar_teacher">
							<div
								class="teacher_title_container d-flex flex-row align-items-center justify-content-start">
								<div class="teacher_image">
									<img th:src="@{/img/}+${mta.mentorimg}" alt="">
								</div>
								<div class="teacher_title">
									<input type="text" class="comment_input"
										th:value="${mta.mentorid}" style="display: none"
										name="mentorid" id="mentorid">
									<div class="teacher_name">
										<a
											th:href="@{/mentor/mentoringlist(mentorid=${mta.mentorid})}"
											th:text="${mta.user_username}"></a>
									</div>
									<ul>
										<li><a id="kakaotalksharingbtn"><img
												style="width: 25px; height: 25px;"
												th:onclick="shareMessage([[${mta.mentorid}]],[[${mta.userid}]])"
												src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_small.png"
												alt="카카오톡 공유 보내기 버튼" /></a></li>
									</ul>
									<!-- <input class="comment_input" th:text="${session.loginuser.userid}" style = "display:none" name="userid" id="userid"> -->
								</div>
							</div>
							<br>
							<div class="teacher_meta_container">
								<!-- Teacher Rating -->
								<div
									class="teacher_meta d-flex flex-row align-items-center justify-content-start">
									<div class="teacher_meta_title" th:text=${mta.mentorcom}>Mentorcom:</div>
									<!-- <div class="teacher_meta_text ml-auto"><span>4.7</span><i class="fa fa-star" aria-hidden="true"></i></div> -->
								</div>
								<!-- Teacher Review -->
								<!-- 									<div class="teacher_meta d-flex flex-row align-items-center justify-content-start">
										<div class="teacher_meta_title">Review:</div>
										<div class="teacher_meta_text ml-auto"><span>12k</span><i class="fa fa-comment" aria-hidden="true"></i></div>
									</div> -->
								<!-- Teacher Quizzes -->
								<!-- 									<div class="teacher_meta d-flex flex-row align-items-center justify-content-start">
										<div class="teacher_meta_title">Quizzes:</div>
										<div class="teacher_meta_text ml-auto"><span>600</span><i class="fa fa-user" aria-hidden="true"></i></div>
									</div> -->
							</div>
							<div class="teacher_info">
								<p></p>
							</div>
						</div>
					</div>


					<!-- Latest Course -->
					<div class="sidebar_section">
						<div class="sidebar_section_title">Latest Mentoring</div>
						<div class="sidebar_latest">

							<!-- Latest Course -->
							<div
								class="latest d-flex flex-row align-items-start justify-content-start"
								th:each="mtlist:${mtlist}">
								<div class="latest_image">
									<div>
										<a
											th:href="@{/mentoring/mentoringdetail(mentoringid=${mtlist.mentoring_mentoringid})}">
											<img th:src="@{/images/}+${mtlist.mentoring_mentoringimg}"
											alt="">
										</a>
									</div>
								</div>
								<div class="latest_content">
									<div class="latest_title">
										<a
											th:href="@{/mentoring/mentoringdetail(mentoringid=${mtlist.mentoring_mentoringid})}"
											th:text="${mtlist.mentoring_mtitle}"></a>
									</div>
									<div class="latest_price"
										th:text="${mtlist.mentoring_mentoringdate}"></div>
								</div>
							</div>

							<!-- Latest Course -->

							<!-- Latest Course -->

						</div>
					</div>

				</div>
			</div>


			<!-- Course -->
			<div class="col-lg-8">

				<div class="course_container">
					<!-- <div class="course_title">Mentor Detail</div> -->
					<!-- 						<div class="course_info d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">

							Course Info Item
							<div class="course_info_item">
								<div class="course_info_title">Teacher:</div>
								<div class="course_info_text"><a href="#">Jacke Masito</a></div>
							</div>

							Course Info Item
							<div class="course_info_item">
								<div class="course_info_title">Reviews:</div>
								<div class="rating_r rating_r_4"><i></i><i></i><i></i><i></i><i></i></div>
							</div>

							Course Info Item
							<div class="course_info_item">
								<div class="course_info_title">Categories:</div>
								<div class="course_info_text"><a href="#">Languages</a></div>
							</div>
						</div> -->

					<!-- Course Image -->
					<!-- <div class="course_image"><img th:src="@{/images/course_image.jpg}" alt=""></div> -->

					<!-- Course Tabs -->
					<div class="course_tabs_container">
						<div
							class="tabs d-flex flex-row align-items-center justify-content-start">
							<div class="tab active">소개</div>
							<!-- <div class="tab">경력</div> -->
							<div class="tab">reviews</div>
						</div>
						<div class="tab_panels">

							<!-- Description -->
							<div class="tab_panel active">
								<h3 class="tab_panel_text">Mentoring Category</h3>
								<br>
								<div class="tab_panel_content" th:each="mwclist:${mwclist}">
									<div>
										<button class="comment_button trans_200"
											th:text="${mwclist.mcate_mname}"
											style="width: 110px; height: 24px"></button>
									</div>
								</div>
								<br>
								<h3 class="tab_panel_text">Mentor Contents</h3>
								<div class="tab_panel_content" style="white-space:pre-wrap;">
									<h4 class="tab_panel_text" th:text="${mta.mentorcon}"></h4>
								</div>
								<br>
								<h3 class="tab_panel_text">Mentor Career</h3>
								<div class="tab_panel_content" style="white-space:pre-wrap;">
									<h4 class="tab_panel_text" th:text="${mta.mentorcareer}">
									</h4>
								</div>
							</div>


							<!-- Reviews -->
							<div class="tab_panel tab_panel_3">
								<div class="tab_panel_title">Course Review</div>

								<!-- Rating -->
								<div class="review_rating_container">
									<div class="review_rating">
										<div class="review_rating_num">4.5</div>
										<div class="review_rating_stars">
											<div class="rating_r rating_r_4">
												<i></i><i></i><i></i><i></i><i></i>
											</div>
										</div>
										<div class="review_rating_text">(28 Ratings)</div>
									</div>
									<div class="review_rating_bars">
										<ul>
											<li><span>5 Star</span>
											<div class="review_rating_bar">
													<div style="width: 90%;"></div>
												</div></li>
											<li><span>4 Star</span>
											<div class="review_rating_bar">
													<div style="width: 75%;"></div>
												</div></li>
											<li><span>3 Star</span>
											<div class="review_rating_bar">
													<div style="width: 32%;"></div>
												</div></li>
											<li><span>2 Star</span>
											<div class="review_rating_bar">
													<div style="width: 10%;"></div>
												</div></li>
											<li><span>1 Star</span>
											<div class="review_rating_bar">
													<div style="width: 3%;"></div>
												</div></li>
										</ul>
									</div>
								</div>

								<!-- Comments -->
								<div class="comments_container">
									<ul class="comments_list">
										<li th:each="mreview:${mentorreview}">
											<div
												class="comment_item d-flex flex-row align-items-start jutify-content-start">
												<div class="comment_image">
													<div>
														<img th:src="@{/images/comment_1.jpg}" alt="">
													</div>
												</div>
												<div class="comment_content">
													<div
														class="comment_title_container d-flex flex-row align-items-center justify-content-start">
														<div class="comment_author" th:text="${mreview.userid}">Milley
															Cyrus</div>

														<!-- 별점 -->
														<div class="comment_rating">
															<div name="${mreview.rating}"
																class="star-ratings-fill space-x-2 text-lg"
																th:style="${'width:'+mreview.rating * 20+'%'}">
																<i class="fa-solid fa-star"></i> <i
																	class="fa-solid fa-star"></i> <i
																	class="fa-solid fa-star"></i> <i
																	class="fa-solid fa-star"></i> <i
																	class="fa-solid fa-star"></i>
															</div>
															<div class="star-ratings-base space-x-2 text-lg">
																<i class="fa-solid fa-star"></i> <i
																	class="fa-solid fa-star"></i> <i
																	class="fa-solid fa-star"></i> <i
																	class="fa-solid fa-star"></i> <i
																	class="fa-solid fa-star"></i>
															</div>
														</div>

														<div class="comment_time ml-auto"
															th:text="${#dates.format(mreview.reviewdate, 'yyyy-MM-dd')}">1
															day ago</div>
													</div>
													<div class="comment_text" th:text="${mreview.reviewcon}">
														<p>review</p>
													</div>
												</div>
											</div>
										</li>
									</ul>

								</div>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="courses_button trans_200">
								<a th:href="@{/mentor/mentormentoring(mentorid=${mentorid},userid=${mta.userid})}">멘토링
									보러가기</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Course Sidebar -->
		</div>
	</div>
</div>
<script>
	Kakao.init('b67794657ed6e950ec05402c7a55d07f');
</script>

<script>
	function shareMessage(mentorid, userid) {
		Kakao.Share
				.sendDefault({
					objectType : 'feed',
					content : {
						title : 'Mogotco mentor',
						description : 'mentorid : ' + userid,
						imageUrl : '',
						link : {
							// [내 애플리케이션] > [플랫폼] 에서 등록한 사이트 도메인과 일치해야 함
							mobileWebUrl : 'http://49.50.174.57:8080/mogotco/mentor/nonid?mentorid='
									+ mentorid,
							webUrl : 'http://49.50.174.57:8080/mogotco/mentor/nonid?mentorid='
									+ mentorid,
						}
					},
					buttons : [
							{
								title : 'web',
								link : {
									mobileWebUrl : 'http://49.50.174.57:8080/mogotco/mentor/nonid?mentorid='
											+ mentorid,
									webUrl : 'http://49.50.174.57:8080/mogotco/mentor/nonid?mentorid='
											+ mentorid,
								},
							},
							{
								title : 'app',
								link : {
									mobileWebUrl : 'http://49.50.174.57:8080/mogotco/mentor/nonid?mentorid='
											+ mentorid,
									webUrl : 'http://49.50.174.57:8080/mogotco/mentor/nonid?mentorid='
											+ mentorid,
								},
							}, ],
				});
	}
</script>
</html>
