<!DOCTYPE html>
<html lang="en">
<head>
<link th:href="@{/plugins/colorbox/colorbox.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/styles/course.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/course_responsive.css}">
<script th:src="@{/plugins/colorbox/jquery.colorbox-min.js}"></script>
<script th:src="@{/js/course.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{styles/bootstrap4/bootstrap.min.css}">
<link th:href="@{plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{styles/contact.css}">
</head>

<script>
$(document).ready(function(){
	$('#update_btn').click(function(){
		$('#mentor_form').attr({
			'method':'post',
			'action':'[[@{/mentor/modifyimpl}]]'
		});
		$('#mentor_form').submit();
	});
});
</script>

	
	<!-- Home -->

 	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a th:href="@{/}">Home</a></li>
								<li>mentormodify</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>

	Course

	<div class="course">
		<div class="container">
			<div class="row">

				<div class="col-lg-12">
					<div class="course_container">
						<div class="course_title">mentor modify</div>

						<div class="course_tabs_container">

						<div class="tab_panel active tab_panel_2" >
						
					<form id="mentor_form">
						<div class="col-md-12 form-group">
							<label for="mentorid">테이블id</label> <input class="form-control"
								type="text" readonly="readonly" th:value="${m.mentorid}" name="mentorid" id="mentorid">
						</div>

						<div class="col-md-12 form-group">
							<label for="userid">멘토id</label> <input class="form-control"
								type="text" readonly="readonly" th:value="${m.userid}" name="userid" id="userid">
						</div>
						
						<div class="col-md-12 form-group" style="display:none">
							<label for="adminid">담당 관리자id</label> <input class="form-control"
								type="text" readonly="readonly" th:value="${m.adminid}" name="adminid" id="adminid">
						</div>
					

<!-- 						<div class="col-md-12 form-group">
							<form id="uploadForm" enctype="multipart/form-data">
							<label for="mcf">명함 등록 
							<div class="uploadbox">
								<img id="uploadimg">
							</div>
							</label>
							<input type="file" style="display:none" name="mcf" id="mcf"  onchange="previewimg(event);">
							</form>
						</div>											
						<div class="col-md-12 form-group">
						<button th:onclick="upload()">등록</button>
						</div> -->
												
						<div class="col-md-12 form-group">
							<label for="mentorcom">회사명</label> <input class="form-control" th:value="${m.mentorcom}" type="text" id="mentorcom" name="mentorcom">
						</div>
						<div class="col-md-12 form-group">
							<label>직급</label> <input class="form-control"
								type="text" >
						</div>
						<div class="col-md-12 form-group">
							<label for="mentorcon">소개</label> <textarea class="form-control" th:text="${m.mentorcon}" name="mentorcon" id="mentorcon"></textarea>
						</div>
<!-- 						<div class="col-md-12 form-group">
							<label>희망분야</label> <input class="form-control"
								type="text" placeholder="" >
						</div> -->
						
 						<div class="col-md-12 form-group" style="display:none">
							<label for="mentorimg">프로필 이미지</label> <input class="form-control"
								type="text" th:value="${m.mentorimg}" name="mentorimg" id="mentorimg">
						</div>						

						<div class="col-md-12 form-group">
							<label for="mentorok">멘토 승인 여부</label> <input class="form-control"
								type="text" readonly="readonly" th:value="${m.mentorok}" name="mentorok" id="mentorok">
						</div>
						<div class="col-md-12 form-group">
							<label for="cancelmentoring">멘토링 취소 가능 횟수</label> <input class="form-control"
								type="text" readonly="readonly" th:value="${m.cancelmentoring}" name="cancelmentoring" id="cancelmentoring">
						</div>																		
						<div class="col-md-12 form-group">
							<label for="mentorcareer">경력</label> <textarea class="form-control" th:text="${m.mentorcareer}" id="mentorcareer" name="mentorcareer"></textarea>
						</div>
					</form>	

					      <button type="submit" id="update_btn" class="btn btn-dark">수정하기</button>

							</div>
						</div>
					</div>
				</div>

				
			</div>
		</div>
	</div> 



	