<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact_responsive.css}">
<script th:src="@{/plugins/marker_with_label/marker_with_label.js}"></script>
<script th:src="@{/js/contact.js}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<style>
#pubutton{
margin-left: 22%;
}

#mcbutton{
margin-left: 1%;
}
</style>
<style>
     #ul {
          list-style-type: none;
          background-color: #D9D9D9;
          width: 50%;
          padding: 0;
          margin: 0;
          border-radius: 2%;
     }

     #li a {
          text-decoration: none;
          display: block;
          color: #000;
          padding: 5% 12% 5% 12%;
          font-weight: bold;
          border-bottom: 1px solid #fff;
          cursor:pointer;
     }

     #li a:hover {
          background-color: #005B00;
          color: #fff;
          border-radius: 2%;
          
     }
     
     @media (max-width: 768px) {
    /* 모바일에 최적화된 예외 CSS 코드*/
         #ul {
          list-style-type: none;
          background-color: #ccc;
          width: 100%;
          padding: 0;
          margin: 0;
          border-radius: 2%;
     }

     #li a {
          text-decoration: none;
          display: block;
          color: #000;
          padding: 2% 8% 2% 8%;
          font-weight: bold;
          border-bottom: 1px solid #fff;
          cursor:pointer;
     }

     #li a:hover {
          background-color: #005B00;
          color: #fff;
          border-radius: 2%;
          
     }
}
</style>
<script>
$(document).ready(function(){
	$('#update_btn').click(function(){
		$('#modify_form').attr({
			'enctpe':'multipart/form-data',
			'method':'post',
			'action':'[[@{/mentor/modifyimpl}]]'
		});
		$('#modify_form').submit();
	});
});
function previewprofile(event) {// 프로필 이미지 미리 보여주기
    var reader = new FileReader();

    reader.onload = function(event) {
    	$('#uploadprofile').attr('src',event.target.result);
    	$('#uploadprofile').attr('style','width:300px; hight:300px;');
    };
    reader.readAsDataURL(event.target.files[0]);
  }
  </script>
  <script>
  
  function previewimg(event) {// 명함 이미지 미리 보여주기
	  /* 	$('#msgText').hide();// 영수증 업로드 시 msg 내용 지우기 
	  	
	  	$('#context').hide(); */
	      var reader = new FileReader();

	      reader.onload = function(event) {
	      	$('#uploadimg').attr('src',event.target.result);
	      	$('#uploadimg').attr('style','width:300px; hight:300px;');
	      	
	      };
	      reader.readAsDataURL(event.target.files[0]);
	      //alert('reader.readAsDataURL : ' + event.target.files[0]);
	    }
  
function display(data) {
	var name = data.images[0].fields[0].inferText
	var position = data.images[0].fields[1].inferText
	var company = data.images[0].fields[2].inferText
	$('#mentorcom').val(company);
	$('#mcardposition').val(position);
}


function upload() {
	const imageInput = $("#mcimg")[0];
	console.log("mcf: ", imageInput.files)
	alert("ocr 실행중입니다. 잠시만 기다려 주세요.")
	if (imageInput.files.length === 0) {
		alert("파일을 선택해주세요");
		return;
	}

	const formData = new FormData();
	formData.append("image", imageInput.files[0]);

	
/* 		for (var value of formData.values()) {
	   console.log(value);
	} */

	$.ajax({
		type : "POST",
		url : '[[@{/ocrresult}]]',
		processData : false,
		contentType : false,
	 	data: formData,
	 	dataType : "JSON",
		success : function(data) {
			//alert(data);
			alert(data.images[0].fields[0].inferText);
			display(data);
		}
	});
}

</script>
</head>

	<!-- Home -->
 
	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a th:href="@{/}">Home</a></li>
								<li>MODIFY</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>


	<div class="contact">


		<div class="contact_info_container">
			<div class="container">
				<div class="row">
				
			<div class="col-lg-4">
				<div class="sidebar">
				<a th:href="@{/user/mypage(userid = ${session.loginuser.userid})}"><div class="contact_info_title">My Page</div></a>
					<!-- Latest Course -->
<!-- 					<div class="sidebar_section">
						<div style="margin-top: 50px;" th:if="${ms != null}"
							class="sidebar_section_title">Mentoring Register</div>
						<div class="sidebar_latest">
							Latest Course
							<div
								class="latest d-flex flex-row align-items-start justify-content-start">
							</div>
						</div>
					</div> -->
					<div>&nbsp</div>
					<div>&nbsp</div>
						<div class="sidebar_section">
							<div class="sidebar_section_title"></div>
							<div class="sidebar_categories">
								<ul id="ul" style="text-align: center">
									<li id="li">
										<a th:onclick="|location.href='@{/mentor/mentorregister(id=${us.userid})}'|">멘토 등록</a>
									</li>
									<li id="li">
										<a th:if="${m != null}" th:onclick="|location.href='@{/mentor/idcheck(mentorid=${m.mentorid})}'|">멘토 정보</a>
									</li> 
									<li id="li">
										<a th:if="${m != null}" th:onclick="|location.href='@{/mentor/mentormodify(id=${us.userid},mentorid=${m.mentorid})}'|">멘토 정보 수정</a>
									</li>
									<li id="li">
										<a th:onclick="|location.href='@{/purchase/purchasedetail(id=${us.userid})}'|">구매 이력</a>
									</li>
									<li id="li">
										<a th:onclick="|location.href='@{/mentoring/mymentoringdetail(id=${us.userid})}'|">멘토링 이력</a>
									</li>
									<li id="li">
										<a th:if="${m != null}" th:onclick="|location.href='@{/mentor/mentoringadmin(id=${us.userid},mentorid=${m.mentorid})}'|">멘토링 관리</a>
									</li>
									<li id="li">
										<a th:onclick="|location.href='@{/coupon/mycoupon(id=${us.userid})}'|">내 쿠폰함</a>
									</li>
								</ul>
							</div>
						</div>
				</div>
			</div>
				
					<!-- 멘토 프로필 이미지, 명함 이미지 화면에 나오기 위해 시간이 걸림 -->
					<div class="col-lg-8">
						<div class="contact_form">
							<div class="contact_info_title"><!-- Mentor Modify --></div>
							<form class="register_form" id = "modify_form" enctype="multipart/form-data">
								
								<div>
									<label class="form_title"> 
										<div>
											<img id="uploadprofile" th:src="@{/img/}+${m.mentorimg}" style="width:200px;">
										</div>
									<label id="pubutton" class="btn btn-dark" for="mpimg" style="width:110px;height:35px;font-size:15px;">프로필 수정</label>
									</label>
									<input type="file" style="display:none" name="mpimg" id="mpimg" th:onchange="previewprofile(event);">
								</div>

								<div>
									<label for = "mentorid" class="form_title">Mentorid</label>
									<input type="text" class="userid comment_input" th:value="${m.mentorid}" name="mentorid" id="mentorid" readonly="readonly">
								</div>

								<div>
									<label for = "userid" class="form_title">Userid</label>
									<input type="text" class="userid comment_input" th:value="${m.userid}" name="userid" id="userid" readonly="readonly">
								</div>

								<div style = "display:none">
									<label for = "adminid" class="form_title">Adminid</label>
									<input type="text" class="comment_input" th:value="${m.adminid}" name="adminid" id="adminid">
								</div>
								
 								<div style = "display:none">
									<label for = "cancelmentoring" class="form_title">cancelmentoring</label>
									<input type="text" class="comment_input" th:value="${m.cancelmentoring}" name="cancelmentoring" id="cancelmentoring">
								</div>

				
			
													
								<div>
									<label class="form_title">Mentor Card
									<div>
										<img id="uploadimg" th:src="@{/img/}+${m.mcardimg}" style="width:120px" />&nbsp&nbsp&nbsp&nbsp
									<label class="btn btn-dark" for="mcimg" style="width:96px;height:31px;font-size:13px">명함 수정</label>
									</div>
									</label>
									<input type="file" class="comment_input" style="display:none" name="mcimg" id="mcimg"  th:onchange="previewimg(event);">
									<div>
									<button type="button" id="mcbutton" th:onclick="upload()" class="comment_button trans_200" style="width:50px;height:24px">등록</button>
									</div>
								</div>			
								
								<div>
									<label for = "mentorcom" class="form_title">Mentorcom<span style="color:red"> *</span></label>
									<input type="text" class="comment_input" th:value="${m.mentorcom}" id="mentorcom" name="mentorcom">
								</div>

								<div>
									<label for = "mcardposition" class="form_title">Mcardposition<span style="color:red"> *</span></label>
									<input type="text" class="comment_input" th:value="${m.mcardposition}" id="mcardposition" name="mcardposition">
								</div>

								<div>
									<label for = "mentorcon" class="form_title">Mentorcon<span style="color:red"> *</span></label>
									<textarea class="comment_input" th:text="${m.mentorcon}" name="mentorcon" id="mentorcon"></textarea>
								</div>

								<div>
									<label for = "mentorcareer" class="form_title">Mentorcareer<span style="color:red"> *</span></label>
									<textarea class="comment_input" th:text="${m.mentorcareer}" id="mentorcareer" name="mentorcareer"></textarea>
								</div>

								<div>
										<label for = "mwishcate" class="form_title">Category<span style="color:red"> *</span></label><br>
										<h4>
										<tr th:each="mwclist:${mwclist}">
											<th>
											<span class="badge badge-pill badge-success" th:text="${mwclist.mcate_mname}" style="color:#FFFFFF"></span>
											</th>
										</tr>
										</h4>
										<br>
									<label class="custom-control-label" data-toggle="collapse" data-target="#mcategory">수정하기</label>										
										<br>
										
										<div class="collapse" id="mcategory">
										<div class="form-check-inline">
									       	<label class="form-check-label" for="web">
									          <input type="checkbox" class="form-check-input" id="web" name="mcateid" value=10>
									          web
									        </label>
								        </div>
								        <div class="form-check-inline"> 
									        <label class="form-check-label" for="secure">
									          <input type="checkbox" class="form-check-input" id="secure" name="mcateid" value=20>
									          secure
									        </label>
								        </div>
									    <div class="form-check-inline">
									      <label class="form-check-label" for="network">
									        <input type="checkbox" class="form-check-input" id="network" name="mcateid" value=30>
									        network
									      </label>
									    </div>							        
									    <div class="form-check-inline">
									      <label class="form-check-label" for="ds">
									        <input type="checkbox" class="form-check-input" id="ds" name="mcateid" value=40>
									        Data Science
									      </label>
									    </div>
									    <div class="form-check-inline">
									      <label class="form-check-label" for="game">
									        <input type="checkbox" class="form-check-input" id="game" name="mcateid" value=50>
									        Game
									      </label>
									    </div>
									    <div class="form-check-inline">
									      <label class="form-check-label" for="ai">
									        <input type="checkbox" class="form-check-input" id="ai" name="mcateid" value=60>
									        AI
									      </label>
									    </div>
									    <div class="form-check-inline">
									      <label class="form-check-label" for="cloud">
									        <input type="checkbox" class="form-check-input" id="cloud" name="mcateid" value=70>
									       	Cloud
									      </label>
									    </div>
									    <div class="form-check-inline">
									      <label class="form-check-label" for="etc">
									        <input type="checkbox" class="form-check-input" id="etc" name="mcateid" value=80>
									        etc
									      </label>
								    	</div>
								    </div>
								    
								    <div>&nbsp</div>
								    
								</div>

								<button id = "update_btn" class="comment_button trans_200">Modify</button>
								
							</form>
																					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

 


	