<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact_responsive.css}">
<script th:src="@{/plugins/marker_with_label/marker_with_label.js}"></script>
<script th:src="@{/js/contact.js}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>
$(document).ready(function(){
	$('#update_btn').click(function(){
		$('#modify_form').attr({
			'enctpe':'multipart/form-data',
			'method':'post',
			'action':'[[@{/mentor/modifyimpl}]]'
		});
		$('#modify_form').submit();
	});
});
</script>
</head>

	<!-- Home -->
 
	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a th:href="@{/}">Home</a></li>
								<li>MODIFY</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>


	<div class="contact">


		<div class="contact_info_container">
			<div class="container">
				<div class="row">

					<div class="col-lg-8">
						<div class="contact_form">
							<div class="contact_info_title">Mentor Modify</div>
							<form class="register_form" id = "modify_form" enctype="multipart/form-data">
								
								<div>
									<label for = "mentorid" class="form_title">Mentorid</label>
									<input type="text" class="comment_input" th:value="${m.mentorid}" name="mentorid" id="mentorid" readonly="readonly">
								</div>

								<div>
									<label for = "userid" class="form_title">Userid</label>
									<input type="text" class="comment_input" th:value="${m.userid}" name="userid" id="userid" readonly="readonly">
								</div>

								<div style = "display:none">
									<label for = "adminid" class="form_title">Adminid</label>
									<input type="text" class="comment_input" ith:value="${m.adminid}" name="adminid" id="adminid">
								</div>
				
								<div>
									<label for="pupload" class="form_title">Profile Image 
										<div>
											<img id="uploadprofile">
										</div>
									</label>
									<input type="file" style="display:none" name="pupload" id="pupload" onchange="previewprofile(event);">
								</div>
			
													
								<div>
									<label for="mcf" class="form_title">Mentor Card 
									<div>
										<img id="uploadimg">
									</div>
									</label>
									<input type="file" class="comment_input" style="display:none" name="mcf" id="mcf"  onchange="previewimg(event);">
								</div>											
								<div>
									<button th:onclick="upload()" class="comment_button trans_200" style="width:50px">등록</button>
								</div>			
								
								<div>
									<label for = "mentorcom" class="form_title">Mentorcom<span style="color:red"> *</span></label>
									<input type="text" class="comment_input" th:value="${m.mentorcom}" id="mentorcom" name="mentorcom">
								</div>

								<div>
									<label for = "mentorcon" class="form_title">Mentorcon<span style="color:red"> *</span></label>
									<textarea class="comment_input" th:text="${m.mentorcon}" name="mentorcon" id="mentorcon"></textarea>
								</div>

								<div>
									<label for = "cancelmentoring" class="form_title">Cancelmentoring<span style="color:red"> *</span></label>
									<input type="text" class="comment_input" th:value="${m.cancelmentoring}" name="cancelmentoring" id="cancelmentoring">
								</div>

								<div>
									<label for = "mentorcareer" class="form_title">Mentorcareer<span style="color:red"> *</span></label>
									<textarea class="comment_input" th:text="${m.mentorcareer}" id="mentorcareer" name="mentorcareer"></textarea>
								</div>

								<button id = "update_btn" class="comment_button trans_200">Modify</button>
								
							</form>
														
<!-- 							  <form>
							    <div class="form-check">
							      <label class="form-check-label" for="check1">
							        <input type="checkbox" class="form-check-input" id="check1" name="vehicle1" value="something">웹
							      </label>
							    </div>
							    <div class="form-check">
							      <label class="form-check-label" for="check2">
							        <input type="checkbox" class="form-check-input" id="check2" name="vehicle2" value="something">보안
							      </label>
							    </div>
							    <div class="form-check">
							      <label class="form-check-label" for="check3">
							        <input type="checkbox" class="form-check-input" id="check3" name="vehicle3" value="something">네트워크
							      </label>
							    </div>
							    <div class="form-check">
							      <label class="form-check-label" for="check4">
							        <input type="checkbox" class="form-check-input" id="check4" name="vehicle4" value="something">데이터사이언스
							      </label>
							    </div>
							    <div class="form-check">
							      <label class="form-check-label" for="check5">
							        <input type="checkbox" class="form-check-input" id="check5" name="vehicle5" value="something">게임
							      </label>
							    </div>
							    <div class="form-check">
							      <label class="form-check-label" for="check6">
							        <input type="checkbox" class="form-check-input" id="check6" name="vehicle6" value="something">AI
							      </label>
							    </div>
							    <div class="form-check">
							      <label class="form-check-label" for="check7">
							        <input type="checkbox" class="form-check-input" id="check7" name="vehicle7" value="something">Cloud
							      </label>
							    </div>
							    <div class="form-check">
							      <label class="form-check-label" for="check8">
							        <input type="checkbox" class="form-check-input" id="check8" name="vehicle8" value="something">기타
							      </label>
							    </div>
							    <button id = "register_btn" class="comment_button trans_200">Submit</button>
							  </form> -->							
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

 


	