<!DOCTYPE html>
<html lang="utf-8">

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact_responsive.css}">
<script th:src="@{/plugins/marker_with_label/marker_with_label.js}"></script>
<script th:src="@{/js/contact.js}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<style>

.uploadbox{

}

</style>


<script>

function display(data) {
	var name = data.images[0].fields[0].inferText
	var position = data.images[0].fields[1].inferText
	var company = data.images[0].fields[2].inferText
	//JSNO 형태로 영화이름 출력 : data.images[0].fields[0].inferText
	//JSNO 형태로 날짜정보 출력 : data.images[0].fields[1].inferText - 2022/07/24(일)
	//JSNO 형태로 좌석정보 출력 : data.images[0].fields[2].inferText
	//JSNO 형태로 가격정보 출력 : data.images[0].fields[3].inferText - 10,000
	//JSNO 형태로 프로젝트명 출력 : data.images[0].fields[4].inferText
	//JSNO 형태로 바코드번호 출력 : data.images[0].fields[5].inferText

	alert(name);
	alert(position);
	alert(company);

}

function previewprofile(event) {// 프로필 이미지 미리 보여주기
	    var reader = new FileReader();

	    reader.onload = function(event) {
	    	$('#uploadprofile').attr('src',event.target.result);
	    	$('#uploadprofile').attr('style','width:300px; hight:300px;');
	    };
	    reader.readAsDataURL(event.target.files[0]);
	  }

function previewimg(event) {// 명함 이미지 미리 보여주기
/* 	$('#msgText').hide();// 영수증 업로드 시 msg 내용 지우기 
	
	$('#context').hide(); */
    var reader = new FileReader();

    reader.onload = function(event) {
    	$('#uploadimg').attr('src',event.target.result);
    	$('#uploadimg').attr('style','width:300px; hight:300px;');
    	
    };
    reader.readAsDataURL(event.target.files[0]);
    //alert('reader.readAsDataURL : ' + event.target.files[0]);
  }

function upload() {
	const imageInput = $("#mcf")[0];
	console.log("mcf: ", imageInput.files)

	if (imageInput.files.length === 0) {
		alert("파일을 선택해주세요");
		return;
	}

	const formData = new FormData();
	formData.append("image", imageInput.files[0]);

	
/* 		for (var value of formData.values()) {
	   console.log(value);
	} */

	$.ajax({
		type : "POST",
		url : '/ocrresult',
		processData : false,
		contentType : false,
	 	data: formData,
		success : function(data) {
			//alert(data);
			alert(data.images[0].fields[0].inferText);
			display(data);
		}
	});
}

</script>
</head>



	<!-- Home -->

	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a th:href="@{/}">Home</a></li>
								<li>APPLY</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>

	<!-- Contact -->

	<div class="contact">

		<!-- Contact Info -->

		<div class="contact_info_container">
			<div class="container">
				<div class="row">

					<!-- Contact Form -->
					<div class="col-lg-8">
						<div class="contact_form">
							<div class="contact_info_title">Mentor Apply</div>
							<form action="#" class="register_form" id = "register_form" enctype="multipart/form-data">
							
								
								
								<div>
									<label for = "userid" class="form_title">Userid</label>
									<input type="text" class="comment_input" id = "userid" name = "userid" th:value = "${u.userid}" readonly="readonly">
								</div>

								<div>
									<label for = "username" class="form_title">Username</label>
									<input type="text" class="comment_input" id = "username" name = "username" th:value = "${u.username}" readonly="readonly">
								</div>

								<div style = "display:none">
									<label for = "adminid" class="form_title">Adminid</label>
									<input type="text" class="comment_input" id = "adminid" name = "adminid">
								</div>
				
								<div>
									<label for="pupload" class="form_title">Profile Image 
										<div>
											<img id="uploadprofile">
										</div>
									</label>
									<input type="file" style="display:none" name="pupload" id="pupload" onchange="previewprofile(event);">
								</div>
<!-- 								<img id="previewimg">
								<div class="col-md-12 form-group">
									<label>profile img</label> <input class="form-control"
										type="file" id="profileimg" accept="img/*" onchange="readURL(this)">
								</div> -->			
													
								<div>
									<label for="mcf" class="form_title">Mentor Card 
									<div>
										<img id="uploadimg">
									</div>
									</label>
									<input type="file" class="comment_input" style="display:none" name="mcf" id="mcf"  onchange="previewimg(event);">
								</div>											
								<div>
									<button th:onclick="upload()" class="comment_button trans_200" style="width:50px">등록</button>
								</div>			
								
								<div>
									<label for = "mentorcom" class="form_title">Mentorcom</label>
									<input type="text" class="comment_input" id = "mentorcom" name = "mentorcom">
								</div>

								<div>
									<label for = "mentorcon" class="form_title">Mentorcon</label>
									<textarea class="comment_input" id = "mentorcon" name = "mentorcon"></textarea>
								</div>

								<div style = "display:none">
									<label for = "mentorok" class="form_title">Mentorok</label>
									<input type="text" class="comment_input" id = "mentorok" name = "mentorok">
								</div>

								<div>
									<label for = "mentorcareer" class="form_title">Mentorcareer</label>
									<textarea class="comment_input" id = "mentorcareer" name = "mentorcareer"></textarea>
								</div>

								<button id = "register_btn" class="comment_button trans_200">Apply</button>
								
							</form>
														
<!-- 							  <form>
							    <div class="form-check">
							      <label class="form-check-label" for="check1">
							        <input type="checkbox" class="form-check-input" id="check1" name="vehicle1" value="something">웹
							      </label>
							    </div>
							    <div class="form-check">
							      <label class="form-check-label" for="check2">
							        <input type="checkbox" class="form-check-input" id="check2" name="vehicle2" value="something">보안
							      </label>
							    </div>
							    <div class="form-check">
							      <label class="form-check-label" for="check3">
							        <input type="checkbox" class="form-check-input" id="check3" name="vehicle3" value="something">네트워크
							      </label>
							    </div>
							    <div class="form-check">
							      <label class="form-check-label" for="check4">
							        <input type="checkbox" class="form-check-input" id="check4" name="vehicle4" value="something">데이터사이언스
							      </label>
							    </div>
							    <div class="form-check">
							      <label class="form-check-label" for="check5">
							        <input type="checkbox" class="form-check-input" id="check5" name="vehicle5" value="something">게임
							      </label>
							    </div>
							    <div class="form-check">
							      <label class="form-check-label" for="check6">
							        <input type="checkbox" class="form-check-input" id="check6" name="vehicle6" value="something">AI
							      </label>
							    </div>
							    <div class="form-check">
							      <label class="form-check-label" for="check7">
							        <input type="checkbox" class="form-check-input" id="check7" name="vehicle7" value="something">Cloud
							      </label>
							    </div>
							    <div class="form-check">
							      <label class="form-check-label" for="check8">
							        <input type="checkbox" class="form-check-input" id="check8" name="vehicle8" value="something">기타
							      </label>
							    </div>
							    <button id = "register_btn" class="comment_button trans_200">Submit</button>
							  </form> -->							
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Newsletter -->



</html>