<!DOCTYPE html>
<html lang="utf-8">

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact_responsive.css}">
<script th:src="@{/plugins/marker_with_label/marker_with_label.js}"></script>
<script th:src="@{/js/contact.js}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<style>

</style>

<script>
/* $(document).ready(function(){
	$('#register_btn').click(function(){
		$('#test_form').attr({
			'enctpe':'multipart/form-data',
			'method':'post',
			'action':'[[@{/mentor/registerimpl}]]'
		});
		$('#test_form').submit();
	});
	
}); */
function display(obj) {
	var name = obj.images[0].fields[0].inferText; //이름
	var position = obj.images[0].fields[1].inferText; //직책
	var company = obj.images[0].fields[2].inferText; //회사
	$('#mentorcom').val(company);
	$('#mentorcon').text(name);
	$('#mentorcareer').text(position);
}

function upload() {
	const imageInput = $("#mcimg")[0];
	console.log("mcimg: ", imageInput.files);

	if (imageInput.files.length === 0) {
		alert("파일을 선택해주세요");
		return;
	}

	const formData = new FormData();
	formData.append("image", imageInput.files[0]);
	console.log(formData)

	$.ajax({
		type : "POST",
		url : "[[@{/ocrresult}]]",
		processData : false,
		contentType : false,
	 	data: formData,
	 	dataType : "JSON",
	 	success: function(obj) {

			console.log(obj);
			alert(obj);
			alert(obj.images[0].fields[0].inferText);
			display(obj);	

	 	}
		
	});
}
</script>
</head>

	<!-- Home -->

	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a th:href="@{/}">Home</a></li>
								<li>APPLY</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>

	<!-- Contact -->

	<div class="contact">
		<div class="contact_info_container">
		<!-- Contact Info -->
		<div class="col-lg-8">
		<!-- Contact Form -->
		
			<div class="contact_form">
				<div class="contact_info_title">OCR TEST</div>
				
				<form id = "test_form" enctype="multipart/form-data">

					<input type="file" class="comment_input" name="mcimg" id="mcimg">
					<div>
					<button type="button" id="mcbutton" th:onclick="upload()" class="comment_button trans_200">등록</button>
					</div>
					
				<div>
									<label for = "mentorcom" class="form_title">Mentorcom<span style="color:red"> *</span></label>
									<input type="text" class="comment_input" id = "mentorcom" name = "mentorcom">
								</div>

								<div>
									<label for = "mentorcon" class="form_title">Mentorcon<span style="color:red"> *</span></label>
									<textarea class="comment_input" id = "mentorcon" name = "mentorcon"></textarea>
								</div>

								<div>
									<label for = "mentorcareer" class="form_title">Mentorcareer<span style="color:red"> *</span></label>
									<textarea class="comment_input" id = "mentorcareer" name = "mentorcareer"></textarea>
								</div>
				</form>
				<!-- <button id = "register_btn" class="comment_button trans_200">Apply</button> -->
											
			</div>
		</div>
		</div>
	</div>




</html>