<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact_responsive.css}">

        <!-- login -->
    <script>
    function modal() {
    	$('#modaltest').modal();
    };
    
    $(document).ready(function(){
    	var logresult = "[[${logresult}]]";
    	if (logresult == "f") {
    		modal();
    	}; 
    	
    	$('#login_form > button').click(function(){
    		$('#login_form').attr(
    			{
    				'action' : '[[@{/user/loginimpl}]]',
    				'method' : 'post'
    			}
    		);
    		$('#login_form').submit();
    	});
    	
    	$('#kakaologin_btn').click(function(){
    		$('#login_form').attr(
    			{
    				'action' : '[[@{/kakaologin}]]',
    				'method' : 'post'
    			}
    		);
    	});
    	
    	$('#githublogin_btn').click(function(){
    		$('#login_form').attr(
    			{
    				'action' : '[[@{/githublogin}]]',
    				'method' : 'post'
    			}
    		);
    	});
    	
    });
    </script>
<style>
.container_login
{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    width:100%;
}
@media screen and (max-width : 990px) {
.contact_form_login {
    width : 355px;
    }
}
</style>
</head>
<body>


	<!-- Home -->

	<div class="home_login"></div>

	<!-- Contact -->

		<div class="contact">
		

		<!-- Contact Info -->

		<div class="contact_info_container">
			<div class="container_login">
				<div class="row">

					<!-- Contact Form -->
						<div class="contact_form_login">
							<div class="contact_info_title">로그인</div>
							<form id = "login_form" class="comment_form">
								
								<div>
									<label for = "id" class="form_title">ID</label>
									<input type="text" class="comment_input" id = "id" placeholder="ID" name = "id">
								</div>
								
								<div>
									<label for = "pwd" class="form_title">비밀번호</label>
									<input type="password" class="comment_input" id = "pwd" placeholder="비밀번호" name = "pwd">
								</div>
								<button style = "font-weight: bold" class="comment_button_login trans_200">로그인</button>
							</form>
								<a th:href="@{/user/register}"><button style = "font-weight: bold" class="comment_button_login trans_200">회원가입</button></a>
								
								<!-- 카카오 로그인 -->
								<a id="kakaologin_btn" href="https://kauth.kakao.com/oauth/authorize?client_id=df5e3953f8c59b9326e8bd7fdeabcdcc&redirect_uri=http://127.0.0.1/mogotco/user/kakaologin&response_type=code">
		 						 <img th:src="@{/images/kakao_login.png}" alt="카카오 로그인 버튼" >
								</a>
								
								<!-- 깃허브 로그인 -->
								<a id="githublogin_btn" href="https://github.com/login/oauth/authorize?client_id=d09e08d1edcc188a134c&redirect_uri=http://127.0.0.1/mogotco/user/githublogin&response_type=code">
		 						 <img th:src="@{/images/github_login.png}" alt="깃허브 로그인 버튼" >
								</a>
								
						</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal -->
<div class="modal fade" id="modaltest" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">ID 나 비밀번호가 일치하지 않습니다. 다시 시도해주세요!</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


