<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact_responsive.css}">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script th:src="@{/plugins/marker_with_label/marker_with_label.js}"></script>
<script th:src="@{/js/contact.js}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<style>
button + button {

margin-left: 2%;

}
</style>
<style>
     #ul {
          list-style-type: none;
          background-color: #D9D9D9;
          width: 50%;
          padding: 0;
          margin: 0;
          border-radius: 2%;
     }

     #li a {
          text-decoration: none;
          display: block;
          color: #000;
          padding: 5% 12% 5% 12%;
          font-weight: bold;
          border-bottom: 1px solid #fff;
          cursor:pointer;
     }

     #li a:hover {
          background-color: #005B00;
          color: #fff;
          border-radius: 2%;
          
     }
     
     @media (max-width: 768px) {
    /* 모바일에 최적화된 예외 CSS 코드*/
         #ul {
          list-style-type: none;
          background-color: #ccc;
          width: 100%;
          padding: 0;
          margin: 0;
          border-radius: 2%;
     }

     #li a {
          text-decoration: none;
          display: block;
          color: #000;
          padding: 2% 8% 2% 8%;
          font-weight: bold;
          border-bottom: 1px solid #fff;
          cursor:pointer;
     }

     #li a:hover {
          background-color: #005B00;
          color: #fff;
          border-radius: 2%;
          
     }
}
</style>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
   
    function changetext() {
    	const btnElement = document.getElementById('mpupdate_btn');
    	btnElement.innerText = "회원 정보 저장";
    }
    
    function modal() {
    	$('#deletemodal').modal();
    }
    
    function confirmModal() {
    	
    }
    
$(document).ready(function(){
	$('#mpupdate_btn').click(function(){
		$('#pwd').attr('readonly', false);  
		$('#name').attr('readonly', false);  
		$('#phone').attr('readonly', false);  
		$('#email').attr('readonly', false);  
		$('#gender').attr('readonly', false);  
		$('#birth').attr('readonly', false);  
		$('#sample6_address').attr('readonly', false);  
		$('#sample6_detailAddress').attr('readonly', false);  
		$('#sample6_extraAddress').attr('readonly', false);  
		$('#mpupdate_btn').click(function(){
			$('#pwd').attr('readonly', true);  
			$('#name').attr('readonly', true);  
			$('#phone').attr('readonly', true);  
			$('#email').attr('readonly', true);  
			$('#gender').attr('readonly', true);  
			$('#birth').attr('readonly', true); 
			$('#sample6_address').attr('readonly', true);  
			$('#sample6_detailAddress').attr('readonly', true);  
			$('#sample6_extraAddress').attr('readonly', true); 
			$('#mypage_update_form').attr(
				{
					'action':'[[@{/user/mypageupdate}]]',
					'method':'post'
				}
			);
			$('#mypage_update_form').submit();
		});
	});
	$('#deleteuser_btn').click(function(){
		modal();
		$('#deleteuserok').click(function(){
			$('#mypage_update_form').attr(
					{
						'action':'[[@{/user/deleteuser}]]',
						'method':'post'
					}
			);
			$('#mypage_update_form').submit();
		});
	});
});  
</script>
</head>

	
	<!-- Home -->

	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
			
			
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a th:href="@{/}">Home</a></li>
								<li>My Page</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>

	<!-- Contact -->

	<div class="contact">
		

		<!-- Contact Info -->

		<div class="contact_info_container">
			<div class="container">
				<div class="row">

						<!-- Courses Sidebar -->
			<div class="col-lg-4">
				<div class="sidebar">
				<div class="contact_info_title">My Page</div>
					<!-- Latest Course -->
<!-- 					<div class="sidebar_section">
						<div style="margin-top: 50px;" th:if="${ms != null}"
							class="sidebar_section_title">Mentoring Register</div>
						<div class="sidebar_latest">
							Latest Course
							<div
								class="latest d-flex flex-row align-items-start justify-content-start">
							</div>
						</div>
					</div> -->
					<div>&nbsp</div>
					<div>&nbsp</div>
						<div class="sidebar_section">
							<div class="sidebar_section_title"></div>
							<div class="sidebar_categories">
								<ul id="ul" style="text-align: center">
									<li id="li">
										<a th:onclick="|location.href='@{/mentor/mentorregister(id=${us.userid})}'|">멘토 등록</a>
									</li>
									<li id="li">
										<a th:href="@{/mentor/idcheck(mentorid=${ms.mentorid})}">멘토 정보</a>
									</li>
									<li id="li">
										<a th:if="${ms != null}" th:onclick="|location.href='@{/mentor/mentormodify(id=${us.userid},mentorid=${ms.mentorid})}'|">멘토 정보 수정</a>
									</li>
									<li id="li">
										<a th:onclick="|location.href='@{/purchase/purchasedetail(id=${us.userid})}'|">구매 이력</a>
									</li>
									<li id="li">
										<a th:onclick="|location.href='@{/mentoring/mymentoringdetail(id=${us.userid})}'|">멘토링 이력</a>
									</li>
									<li id="li">
										<a th:if="${ms != null}" th:onclick="|location.href='@{/mentor/mentoringadmin(mentorid=${ms.mentorid})}'|">멘토링 관리</a>
									</li>
									<li id="li">
										<a th:onclick="|location.href='@{/coupon/mycoupon(id=${us.userid})}'|">내 쿠폰함</a>
									</li>
								</ul>
							</div>
						</div>
				</div>
			</div>

					<!-- Contact Form -->
					<div class="col-lg-8">
						<div class="contact_form">
							<!-- <div class="contact_info_title">My Page</div> -->
							<div>&nbsp</div>
<!-- 							<button type="button" th:onclick="|location.href='@{/mentor/mentorregister(id=${us.userid})}'|" class="comment_button trans_200" style="width:80px;height:30px">멘토 등록</button>
							<button type="button" th:if="${ms != null}" th:onclick="|location.href='@{/mentor/mentormodify(id=${us.userid},mentorid=${ms.mentorid})}'|" class="comment_button trans_200" style="width:110px;height:30px">멘토 정보 수정</button>
							<button type="button" th:onclick="|location.href='@{/purchase/purchasedetail(id=${us.userid})}'|" class="comment_button trans_200" style="width:80px;height:30px">구매이력</button>
							<button type="button" th:onclick="|location.href='@{/mentoring/mymentoringdetail(id=${us.userid})}'|" class="comment_button trans_200" style="width:80px;height:30px">멘토링이력</button>
							<button type="button" th:if="${ms != null}" th:onclick="|location.href='@{/mentor/mentoringadmin(mentorid=${ms.mentorid})}'|" class="comment_button trans_200" style="width:110px;height:30px">멘토링 관리</button>
							<button type="button" th:onclick="|location.href='@{/coupon/mycoupon(id=${us.userid})}'|" class="comment_button trans_200" style="width:80px;height:30px">내 쿠폰함</button> -->

							<form id = "mypage_update_form" class="comment_form">

								<div>
									<label for = "id" class="form_title">ID</label>
									<input type="text" class="userid comment_input" id = "id" th:value = "${us.userid}" readonly = "readonly" name = "userid">
								</div>
								
								<div>
									<label for = "pwd" class="form_title">Password</label>
									<input type="Password" class="comment_input" id = "pwd" th:value = "${us.userpwd}" name = "userpwd" readonly>
								</div>
								
								<div>
									<label for = "name" class="form_title">Name</label>
									<input type="text" class="comment_input" id = "name" th:value = "${us.username}" name = "username" readonly>
								</div>
								
								<div>
									<label for = "phone" class="form_title">Phone Number</label>
									<input type="text" class="comment_input" id = "phone" th:value = "${us.usertel}" name = "usertel" readonly>
								</div>
								
								<div>
									<label for = "email" class="form_title">Email</label>
									<input type="text" class="comment_input" id = "email" th:value = "${us.useremail}" name = "useremail" readonly>
								</div>
								
								<div>
									<label for = "gender" class="form_title">Gender</label>
									<input type="text" class="comment_input" id = "gender" th:value = "${us.usergen}" name = "usergen" readonly>
								</div>
								
								<div>
								<label for = "address" class="address_form">Address</label>
									<input type="text" class="comment_input_postno" name = "addrnum" th:value = "${us.addrnum}" id="sample6_postcode" placeholder="우편번호" readonly>
									<input type="button" class="comment_button_post trans_200" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
									<input type="text" class="comment_input_address" name = "useraddr" th:value = "${us.useraddr}" id="sample6_address" placeholder="주소" readonly><br>
									<input type="text" class="comment_input_detail" name = "addrdetail" th:value = "${us.addrdetail}" id="sample6_detailAddress" placeholder="상세주소" readonly>
									<input type="text" class="comment_input_detail" name = "addrextra" th:value = "${us.addrextra}" id="sample6_extraAddress" placeholder="참고항목" readonly>
								</div>
								
								<div>
									<label for = "birth" class="form_title">Birth</label>
									<input type="text" class="comment_input" id = "birth" th:value = "${us.userbirth}" name = "userbirth" readonly>
								</div>
								
								<div>
									<label for = "point" class="form_title">Point</label>
									<input type="text" class="comment_input" id = "point" th:value = "${us.userpoint}" name = "userpoint" readonly>
								</div>
								
								
							</form>
						</div>
							<button type='button' id = "mpupdate_btn" data-toggle="modal" data-target="#updatemodal" onclick = "changetext()" class="comment_button trans_200">회원 정보 수정</button>
							<button type='button' id = "deleteuser_btn" class="comment_button trans_200">회원 탈퇴</button>
					</div>

					<!-- Contact Info -->
<!-- 					<div class="col-lg-4">
						<div class="contact_info">
							<div class="contact_info_title">Contact Info</div>
							<div class="contact_info_text">
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a distribution of letters.</p>
							</div>
							<div class="contact_info_location">
								<div class="contact_info_location_title">New York Office</div>
								<ul class="location_list">
									<li>T8/480 Collins St, Melbourne VIC 3000, New York</li>
									<li>1-234-567-89011</li>
									<li>info.deercreative@gmail.com</li>
								</ul>
							</div>
							<div class="contact_info_location">
								<div class="contact_info_location_title">Australia Office</div>
								<ul class="location_list">
									<li>Forrest Ray, 191-103 Integer Rd, Corona Australia</li>
									<li>1-234-567-89011</li>
									<li>info.deercreative@gmail.com</li>
								</ul>
							</div>
						</div>
					</div> -->
					
				</div>
			</div>
		</div>
	</div>
	
		<!-- Update Modal -->
<div class="modal fade" id="updatemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">변경하고 싶은 정보를 변경 후 [회원 정보 저장] 을 눌러주세요~</div>
       <div class="modal-body-btn"><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></div>
      </div>
    </div>
  </div>

		<!-- Delete Modal -->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">정말 탈퇴하고 싶으신건가요..?</div>
       <div class="modal-body-btn">
	       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	       <button type="button" id = "deleteuserok" class="btn btn-secondary"  data-dismiss="modal">YES</button>
       </div>
    </div>
      </div>
    </div>
  </div>
