<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact_responsive.css}">
<script th:src="@{/plugins/marker_with_label/marker_with_label.js}"></script>
<script th:src="@{/js/contact.js}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
$(document).ready(function(){
	$('#register_btn').click(function(){
		$('#register_form').attr({
			'action' : '[[@{/user/registerimpl}]]',
			'method' : 'post'
		});
		$('#register_form').submit();
	});
	$('#pwd2').keyup(function(){
		var pwd = $('#pwd').val();
		var pwd2 = $('#pwd2').val();
		if(pwd == pwd2) {
			$('#pspan').text('Correct')
		} else {
			$('#pspan').text('비밀번호가 일치하지 않습니다.')
		};
	});
	$('#idcheck_btn').click(function(){
		var id = $('#id').val();
		$.ajax({
			url : '[[@{/checkid}]]',
			data : {'cid' : id},
			success : function(result){
				if(result == 't') {
					$('#ispan').text('사용 가능한 ID 입니다.')
				} else {
					$('#ispan').text('다른 ID를 입력해주세요.')
				}
			}
		});
	});
	$('#emailcheck_btn').click(function(){
		var email = $('#email').val();
		mailcheck();
		
	});
});

	function mailcheck() {
		var regex = new RegExp('[a-z0-9]+@[a-z]+\.[a-z]{2,3}');
		var email = document.register_form.email.value;
		console.log(regex.test(email))
		
		if(regex.test(email)) {
			$('#espan1').text('받은 메일의 인증번호를 입력해주세요')
		} else {
			$('#espan1').text('메일주소를 확인해보셔야 할 듯..')
		}
		
	}

	
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
    
    function formcheck() {
    	var c = document.register_form;
    	
    	if (c.userid.value == "") {
    		alert("ID를 입력해주세요");
    		c.userid.focus();
    		return false;
    	}
    	
    }
</script>
</head>

	
	<!-- Home -->

	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a th:href="@{/}">Home</a></li>
								<li>RESISTER</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>

	<!-- Contact -->

	<div class="contact">
		

		<!-- Contact Info -->

		<div class="contact_info_container">
			<div class="container">
				<div class="row">

					<!-- Contact Form -->
					<div class="col-lg-8">
						<div class="contact_form">
							<div class="contact_info_title">REGISTER</div>
							<form action="#" class="register_form" id = "register_form" name = "register_form">
							
								<div>
									<label for = "id" class="form_title">ID</label>
									<div><input type="text" class="comment_input col-lg-5" id = "id" name = "userid">
									<button id = "idcheck_btn" type="button" class="comment_button_regi trans_200">ID 중복 확인</button></div>
									<span id = "ispan"></span>
								</div>
								
								<div>
									<label for = "pwd" class="form_title">Password</label>
									<input type="password" class="comment_input" id = "pwd" name = "userpwd">
								</div>
								
								<div>
									<label for = "pwd2" class="form_title">Password Confirm</label>
									<input type="password" class="comment_input" id = "pwd2" name = "pwd2">
									<span id = "pspan"></span>
								</div>
								
								<div>
									<label for = "name" class="form_title">Name</label>
									<input type="text" class="comment_input" id = "name" name = "username">
								</div>
								
								<div>
									<label for = "phone" class="form_title">Phone Number</label>
									<input type="text" class="comment_input" id = "phone" name = "usertel">
								</div>
								
								<div>
									<label for = "email" class="form_title">Email</label>
									<div><input type="text" class="comment_input col-lg-5" id = "email" name = "useremail">
									<button id = "emailcheck_btn" type="button" onclick = "mailcheck()" class="comment_button_mail trans_200">인증 메일 보내기</button></div>
									<div><span id = "espan1"></span></div>
									<input class="comment_input col-lg-5" placeholder = "인증번호 6자리를 입력해주세요" disabled = "disabled" maxlength = "6">
									<button id = "emailcheck_btn" type="button" class="comment_button_mail trans_200">인증</button></div>
									<span id = "espan2"></span>
								</div>
								
								<div>
									<label for = "gender" class="form_title">Gender</label>
									<input type="text" class="comment_input" id = "gender" name = "usergen">
								</div>
								
								<div>
								<label for = "address" class="address_form">Address</label>
								<input type="text" class="comment_input_postno" id="sample6_postcode" name = "addrnum" placeholder="우편번호">
								<input type="button" class="comment_button_post trans_200" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
								<input type="text" class="comment_input_address" name = "useraddr" id="sample6_address" placeholder="주소"><br>
								<input type="text" class="comment_input_detail" name = "addrdetail" id="sample6_detailAddress" placeholder="상세주소">
								<input type="text" class="comment_input_detail" name = "addrextra" id="sample6_extraAddress" placeholder="참고항목">
								</div>
								
								<div>
									<label for = "birth" class="form_title">Birth</label>
									<input type="text" class="comment_input" id = "birth" name = "userbirth">
								</div>
								
									<button id = "register_btn" class="comment_button trans_200">Register Now</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
