<!DOCTYPE html>
<html lang="utf-8">

<head>
<meta charset="utf-8">
<!-- Customized Bootstrap Stylesheet -->
<link th:href="@{/ordercss/style.css}" rel="stylesheet">

<style>
.home {
	width: 100%;
	height: 182px;
	background: #f2f4f5;
	border-bottom: solid 1px #edeff0;
}

.breadcrumbs_container {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-bottom: 1px;
	padding-left: 3px;
}

.breadcrumbs ul li {
	display: inline-block;
	position: relative;
}

.breadcrumbs ul li:not(:last-child)::after {
	display: inline-block;
	font-family: 'FontAwesome';
	content: '\f105';
	margin-left: 7px;
	margin-right: 4px;
	color: #384158;
}

.breadcrumbs ul li a {
	font-size: 14px;
	font-weight: 400;
	color: #384158;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.breadcrumbs ul li a:hover {
	color: #14bdee;
}

/* point */
.tbl_edit01 {
	width: 100%;
	border-top: 1px solid #0085d2;
	box-sizing: border-box;
}

.tbl_edit01 tr {
	height: 46px;
	border-bottom: 1px solid #b2c4d0;
	box-sizing: border-box;
}

.tbl_edit01 th {
	background-color: #e9f1f6;
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	vertical-align: top;
	line-height: 46px;
}

.tbl_edit01 td {
	height: 46px;
	border-bottom: 1px solid #b2c4d0;
	color: #333333;
	font-size: 14px;
	box-sizing: border-box;
	padding: 5px;
}
</style>
<!-- jQuery -->
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!-- iamport.payment.js -->
<script type="text/javascript"
	src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<script th:src="@{/plugins/colorbox/jquery.colorbox-min.js}"></script>
<script>
	//point
	function chkPoint(amt, pnt, min, unit) {
		//input값을 전체 마일리지로 설정 > minusPoint 
		//amt : 최초 결제 금액 / pnt : 사용가능,남은 포인트 / min : 사용 가능 최소 포인트 / unit : 사용단위
		var v_point = 0; //사용할 포인트 (input 입력값)

		if (document.getElementById("chk_use").checked) {
			if (pnt < min) //최소 사용 단위보다 작을 때
			{
				v_point = 0;
			} else {
				v_point = pnt - pnt % unit; //사용할 포인트 = 전체 마일리지 중 최소단위 이하 마일리지를 뺀 포인트
			}

			if (pnt > amt) { //결제금액보다 포인트가 더 클 때
				v_point = amt; //사용할 포인트는 결제금액과 동일하게 설정
			}

		}
		document.getElementById("use_pnt").value = v_point; //input 값 설정

		changePoint(amt, pnt, min, unit);
	};

	function changePoint(amt, pnt, min, unit) {
		//input값을 불러옴 > left_pnt 변경 > 최종결제 변경
		//amt : 최초 결제 금액 / pnt : 사용가능,남은 포인트 / min : 사용 가능 최소 포인트 / unit : 사용단위
		var v_point = parseInt(document.getElementById("use_pnt").value); //사용할 포인트 (input 입력값)
		if (v_point > pnt) //입력값이 사용가능 포인트보다 클때
		{
			v_point = pnt;
			document.getElementById("use_pnt").value = v_point; //input 값 재설정
		}

		if (v_point > amt) { //결제금액보다 포인트가 더 클 때
			v_point = amt; //사용할 포인트는 결제금액과 동일하게 설정
			document.getElementById("use_pnt").value = v_point; //input 값 재설정
		}

		if (v_point < min) //최소 사용 단위보다 작을 때
		{
			v_point = 0;
			document.getElementById("use_pnt").value = v_point; //input 값 재설정
		} else {
			v_point = v_point - v_point % unit; //사용할 포인트 = 사용할 마일리지 중 최소단위 이하 마일리지를 뺀 포인트
		}

		var v_left = document.getElementsByName("left_pnt"); //사용가능 마일리지, 남은 포인트 값 설정
		for (var i = 0; i < v_left.length; i++) {

			v_left[i].innerHTML = pnt - v_point; //= 전체 포인트 중에 사용할 포인트빼고 남은 포인트

		}
		document.getElementById("result_pnt").innerHTML = amt - v_point; //최종 결제금액 = 결제금액 - 사용할 포인트
	};
</script>
</head>


<body>
	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a th:href="@{/}">Home</a></li>
								<li><a th:href="@{/mentoring/mentoring}">Mentoring</a></li>
								<li><a th:href="@{/mentoring/mentoringdetail}">Mentoringdetail</a></li>
								<li>Purchase</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Checkout Start -->

	<div class="container">
		<div class="row px-xl-5">
			<div class="col-lg-8">
				<h5 class="section-title position-relative text-uppercase mb-3">
					<span class="bg-secondary pr-3">Billing Address</span>
				</h5>
				<div class="bg-light p-30 mb-5">
					<div class="row">
						<div class="col-md-6 form-group">
							<label>Mentoring no</label> <input id="mentoringid"
								class="form-control" type="text"
								th:value="${pur.mentoring_mentoringid}" readonly="readonly">
						</div>

						<div class="col-md-6 form-group">
							<label>Mentoring title</label> <input id="mtitle"
								class="form-control" type="text"
								th:value="${pur.mentoring_mtitle}" readonly="readonly">
						</div>
						<div class="col-md-6 form-group">
							<label>Mentor name</label> <input id="mentorname"
								class="form-control" type="text" th:value="${'조윤영'}"
								readonly="readonly">
						</div>
						<div class="col-md-6 form-group">
							<label>Mentoring date</label> <input id="mentoringdate"
								class="form-control" type="text"
								th:value="${pur.mentoring_mentoringdate}" readonly="readonly">
						</div>
						<div class="col-md-6 form-group">
							<label>Mentoring time</label> <input id="mentoringtime"
								class="form-control" type="text"
								th:value="${pur.mentoringoption_mentoringtime}"
								readonly="readonly">
						</div>
						<div class="col-md-6 form-group">
							<label>Mentoring place</label> <input id="mplace"
								class="form-control" type="text"
								th:value="${pur.mentoring_mplace}" readonly="readonly">
						</div>
						<div class="col-md-6 form-group">
							<label>Mentoring Price</label> <input id="mentoringprice"
								class="form-control" type="text"
								th:value="${pur.mentoring_mentoringprice}" readonly="readonly">
						</div>
						<input type="hidden" id="mentoringoptionid"
							th:value="${mto.mentoringoptionid}">
						<div class="col-md-12">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="shipto">
								<label class="custom-control-label" for="shipto"
									data-toggle="collapse" data-target="#shipping-address">Select
									Point</label>
							</div>
						</div>
					</div>
				</div>
				<div class="collapse mb-5" id="shipping-address">
					<h5 class="section-title position-relative text-uppercase mb-3">
						<span class="bg-secondary pr-3">Point</span>
					</h5>
					<div class="bg-light p-30">
						<div class="row">
							<div class="col-md-5 form-group">
								<!-- session에서 cust의 poinr값을 가지고옴 -->
								<label>My Point</label><span><input
												type="checkbox" id="chk_use"
												th:onclick="chkPoint()">포인트 전체 사용</span><input class="form-control" type="text"
									id="writepoint" placeholder="포인트를 입력하여 주세요." th:onkeypress="pointchange()"
									><input class="form-control"
									type="text" id="userpoint" th:value="${session.loginuser.userpoint}"
									readonly="readonly">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<h5 class="section-title position-relative text-uppercase mb-3">
					<span class="bg-secondary pr-3">Order Total</span>
				</h5>
				<div class="bg-light p-30 mb-5">
					<div class="border-bottom">
						<div class="d-flex justify-content-between">
							<p>Mentoring Price</p>
							<p th:text="${pur.mentoring_mentoringprice}"
								id="ordermentoring_price"></p>
						</div>
						<div class="d-flex justify-content-between">
							<p>Point</p>
							<p><span id="willusepoint"></span></p>
						</div>
					</div>
					<div class="pt-2">
						<div class="d-flex justify-content-between mt-2">
							<h5>Total</h5>
							<h5 id="total_price"></h5>
						</div>
					</div>
				</div>
				<div class="mb-5">
					<h5 class="section-title position-relative text-uppercase mb-3">
						<span class="bg-secondary pr-3">Payment</span>
					</h5>
					<button class="btn btn-block btn-primary font-weight-bold py-3"
						th:onclick="requestPay()">Payment</button>

				</div>
			</div>
		</div>

	</div>

</body>
<script>
//point
function pointchange(){
	var x = Number(document.getElementById("writepoint").value);
	var u = Number(document.getElementById("userpoint").value);
	var p = '[[${pur.mentoring_mentoringprice}]]';
	
	//enterkey쳤을 때
	if(event.keyCode == 13){
		//사용자가 양수를 입력했을 때
		if(x > 0){
			//사용자가 가지고 있는 것보다 더 많은 포인트를 입력했을 때
			if(x > u){
				var msg = "사용할 포인트를 초과하였습니다.";
				alert(msg);
			}else{
				// 사용할 포인트 띄우기
				document.getElementById("willusepoint").innerHTML = x;
				document.getElementById("total_price").innerHTML = p-x;
				document.getElementById("userpoint").innerHTML = u-x;
				
			}
		
		}
		else{
			var msg = "포인트를 입력하세요";
			alert(msg);
		}
	}
};

//point 전체사용
function chkPoint(){
	var u = '[[${session.loginuser.userpoint}]]';
		document.getElementById("writepoint").innerHTML = u;
		document.getElementById("willusepoint").innerHTML = u;
		document.getElementById("total_price").innerHTML = p-x;
};
</script>
<script>
	//import
	var IMP = window.IMP;
	IMP.init("imp82873338");

	var today = new Date();
	var hours = today.getHours(); // 시
	var minutes = today.getMinutes(); // 분
	var seconds = today.getSeconds(); // 초
	var milliseconds = today.getMilliseconds();
	var makeMerchantUid = hours + minutes + seconds + milliseconds;

	//order시에 필요한 값들 변수로 다 선언해주기
	var mentoringid = $('#mentoringid').val();
	var mtitle = $('#mtitle').val();
	var mentorname = $('#mentorname').val();
	var mentoringdate = $('#mentoringdate').val();
	var mentoringtime = $('#mentoringtime').val();
	var mplace = $('#mplace').val();
	var mentoringoption_mentoringoptionid = $('#mentoringoptionid').val();//mentoringoptionid(purchasedetail)
	var total_price = $('#total_price').text();//purprice(purchase)
	var userid = '[[${session.loginuser.userid}]]';//userid(purchase)

	//일반 결제
	function requestPay() {
		IMP.request_pay({
			pg : 'html5_inicis',
			pay_method : 'card',
			merchant_uid : "IMP" + makeMerchantUid,
			name : mtitle,
			amount : total_price
		}, function(rsp) { // callback
			if (rsp.success) {
				var msg = '결제가 완료되었습니다.';
				var c = confirm(msg);
				if (c == true) {
					//성공시 이동할 페이지
					location.href = '[[@{/purchase/purchasefinish?userid=}]]'
							+ userid + '&[[@{mentoring_mentoringid=}]]'
							+ mentoringid + '&[[@{mentoring_mtitle=}]]'
							+ rsp.name + '&[[@{user_mentorname=}]]'
							+ mentorname + '&[[@{mentoring_mentoringdate=}]]'
							+ mentoringdate
							+ '&[[@{mentoringoption_mentoringtime=}]]'
							+ mentoringtime + '&[[@{mentoring_mplace=}]]'
							+ mplace
							+ '&[[@{mentoringoption_mentoringoptionid=}]]'
							+ mentoringoption_mentoringoptionid
							+ '&[[@{purprice=}]]' + rsp.paid_amount
							+ '&[[@{purpay=}]]' + rsp.pay_method
							+ '&[[@{purcard=}]]' + rsp.card_name;
				}
			} else {
				var msg = '결제에 실패하였습니다.';
				alert(msg);
			}
		})
	};
</script>
</html>