<!DOCTYPE html>
<html lang="utf-8">

<head>
<meta charset="utf-8">
<!-- Customized Bootstrap Stylesheet -->
<link th:href="@{/ordercss/style.css}" rel="stylesheet">

<style>
.home {
	width: 100%;
	height: 182px;
	background: #f2f4f5;
	border-bottom: solid 1px #edeff0;
}

.breadcrumbs_container {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-bottom: 1px;
	padding-left: 3px;
}

.breadcrumbs ul li {
	display: inline-block;
	position: relative;
}

.breadcrumbs ul li:not(:last-child)::after {
	display: inline-block;
	font-family: 'FontAwesome';
	content: '\f105';
	margin-left: 7px;
	margin-right: 4px;
	color: #384158;
}

.breadcrumbs ul li a {
	font-size: 14px;
	font-weight: 400;
	color: #384158;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.breadcrumbs ul li a:hover {
	color: #14bdee;
}
</style>
<!-- jQuery -->
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!-- iamport.payment.js -->
<script type="text/javascript"
	src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<script th:src="@{/plugins/colorbox/jquery.colorbox-min.js}"></script>
<script>
	var IMP = window.IMP;
	IMP.init("imp82873338");

	var today = new Date();
	var hours = today.getHours(); // 시
	var minutes = today.getMinutes(); // 분
	var seconds = today.getSeconds(); // 초
	var milliseconds = today.getMilliseconds();
	var makeMerchantUid = hours + minutes + seconds + milliseconds;

	//order시에 필요한 값들 변수로 다 선언해주기

	function requestPay() {
		IMP.request_pay({
			pg : 'html5_inicis',
			pay_method : 'card',
			merchant_uid : "IMP" + makeMerchantUid,
			name : '당근 10kg',
			amount : 100,
			buyer_email : 'Iamport@chai.finance',
			buyer_name : '아임포트 기술지원팀',
			buyer_tel : '010-1234-5678',
			buyer_addr : '서울특별시 강남구 삼성동',
			buyer_postcode : '123-456'
		}, function(rsp) { // callback
			if (rsp.success) {
				$.ajax({
					type : "POST",
					url : "/kgorder", //ajax kgorder
					data : {
						//order일때 필요한 것 다 들어감
						"amount" : 1,
						"pay_method" : 'card'
					}
				});
			} else {
				console.log(rsp);
			}
		});
	}
</script>
</head>


<body>
	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a th:href="@{/}">Home</a></li>
								<li><a th:href="@{/mentoring/mentoring}">Mentoring</a></li>
								<li><a th:href="@{/mentoring/mentoringdetail}">Mentoringdetail</a></li>
								<li>Purchase</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Checkout Start -->

	<div class="container">
		<div class="row px-xl-5">
			<div class="col-lg-8">
				<h5 class="section-title position-relative text-uppercase mb-3">
					<span class="bg-secondary pr-3">Billing Address</span>
				</h5>
				<div class="bg-light p-30 mb-5">
					<div class="row">
						<div class="col-md-6 form-group">
							<label>Mentoring no</label> <input class="form-control"
								type="text" placeholder="203" readonly="readonly">
						</div>

						<div class="col-md-6 form-group">
							<label>Mentoring title</label> <input class="form-control"
								type="text" placeholder="이직 상담 신청하세요." readonly="readonly">
						</div>
						<div class="col-md-6 form-group">
							<label>Mentor name</label> <input class="form-control"
								type="text" placeholder="조윤영" readonly="readonly">
						</div>
						<div class="col-md-6 form-group">
							<label>Mentor Email</label> <input class="form-control"
								type="text" placeholder="whdbsdud@naver.com" readonly="readonly">
						</div>
						<div class="col-md-6 form-group">
							<label>Mentoring date</label> <input class="form-control"
								type="text" placeholder="2022-11-10" readonly="readonly">
						</div>
						<div class="col-md-6 form-group">
							<label>Mentoring time</label> <input class="form-control"
								type="text" placeholder="11:00" readonly="readonly">
						</div>
						<div class="col-md-6 form-group">
							<label>Mentoring place</label> <input class="form-control"
								type="text" placeholder="서울강북구 4.19로 105" readonly="readonly">
						</div>
						<div class="col-md-6 form-group">
							<label>Mentoring member</label> <input class="form-control"
								type="text" placeholder="4" readonly="readonly">
						</div>
						<div class="col-md-6 form-group">
							<label>Mentoring Price</label> <input class="form-control"
								type="text" placeholder="25000원" readonly="readonly">
						</div>
						<div class="col-md-12">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="shipto">
								<label class="custom-control-label" for="shipto"
									data-toggle="collapse" data-target="#shipping-address">Select
									Point</label>
							</div>
						</div>
					</div>
				</div>
				<div class="collapse mb-5" id="shipping-address">
					<h5 class="section-title position-relative text-uppercase mb-3">
						<span class="bg-secondary pr-3">Point</span>
					</h5>
					<div class="bg-light p-30">
						<div class="row">
							<div class="col-md-6 form-group">
								<!-- session에서 cust의 poinr값을 가지고옴 -->
								<label>My Point</label> <input class="form-control" type="text"
									placeholder="3000">
								<button class="submit ">submit</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<h5 class="section-title position-relative text-uppercase mb-3">
					<span class="bg-secondary pr-3">Order Total</span>
				</h5>
				<div class="bg-light p-30 mb-5">
					<div class="border-bottom">
						<div class="d-flex justify-content-between">
							<p>Mentoring Price</p>
							<p>25000원</p>
						</div>
						<div class="d-flex justify-content-between">
							<p>Point</p>
							<p>-3000원</p>
						</div>
					</div>
					<div class="pt-2">
						<div class="d-flex justify-content-between mt-2">
							<h5>Total</h5>
							<h5>22000원</h5>
						</div>
					</div>
				</div>
				<div class="mb-5">
					<h5 class="section-title position-relative text-uppercase mb-3">
						<span class="bg-secondary pr-3">Payment</span>
					</h5>

					<button class="btn btn-block btn-primary font-weight-bold py-3"
						th:onclick="requestPay()">Payment</button>

				</div>
			</div>
		</div>

	</div>

</body>
</html>