<!DOCTYPE html>
<html lang="en">
<head>
<link th:href="@{/plugins/colorbox/colorbox.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/styles/course.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/course_responsive.css}">
<script th:src="@{/plugins/colorbox/jquery.colorbox-min.js}"></script>
<script th:src="@{/js/course.js}"></script>
</head>

	
	<!-- Home -->

	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a th:href="@{/}">Home</a></li>
								<li>FAQ</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>

	<!-- Course -->

	<div class="course">
		<div class="container">
			<div class="row">

				<!-- Course -->
				<div class="col-lg-12">
					
					<div class="course_container">
						<div class="course_title">FAQ</div>

							<!-- Course Info Item -->

							<!-- Course Info Item -->

							<!-- Course Info Item -->


						<!-- Course Image -->

						<!-- Course Tabs -->
						<div class="course_tabs_container">
							<div class="faq_panels">

								<!-- Description -->
								<div class="tab_panel active">
											<!-- Accordions -->
											<div th:each="faq:${faq}" class="accordions">
												
												<div class="elements_accordions">


													<div class="accordion_container">
														<div class="accordion d-flex flex-row align-items-center"><div th:text="${nt.boardtitle}">Question</div></div>
														<div class="accordion_panel">
															<p th:text="${faq.boardcontent}">Answer</p>
														</div>
													</div>

												</div>

											</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Course Sidebar -->
			</div>
		</div>
	</div>

	<!-- Newsletter -->

	<div class="newsletter">
		<div class="newsletter_background" th:style="'background-image:url(' + @{/images/newsletter_background.jpg} + ')'"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_container d-flex flex-lg-row flex-column align-items-center justify-content-start">

						<!-- Newsletter Content -->
						<div class="newsletter_content text-lg-left text-center">
							<div class="newsletter_title">sign up for news and offers</div>
							<div class="newsletter_subtitle">Subcribe to lastest smartphones news & great deals we offer</div>
						</div>

						<!-- Newsletter Form -->
						<div class="newsletter_form_container ml-lg-auto">
							<form action="#" id="newsletter_form" class="newsletter_form d-flex flex-row align-items-center justify-content-center">
								<input type="email" class="newsletter_input" placeholder="Your Email" required="required">
								<button type="submit" class="newsletter_button">subscribe</button>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
