<html lang="utf-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap" rel="stylesheet">
<style>
.feature_icon > img{
	width:60%;
/* 	image-rendering: -webkit-optimize-contrast;
	transform: translateZ(0); 
	backface-visibility: hidden; */
}

.feature_title{
	font-family: 'Spoqa Han Sans Neo';
}

</style>
<script>
function request(mentor_mentorid){
		location.href='[[@{/mentor/idcheck?mentorid=}]]'+mentor_mentorid;
};
</script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.0.1/kakao.min.js"
  integrity="sha384-eKjgHJ9+vwU/FCSUG3nV1RKFolUXLsc6nLQ2R1tD0t4YFPCvRmkcF8saIfOZNWf/" crossorigin="anonymous"></script>
  
<script>
/* 
	var observer = new IntersectionObserver((e)=>{
		e.forEach((i)=>{
			i.target.style.opacity = 1;
		})
	})
	
	var div = document.querySelectorAll('h2')
	observer.observe(h2[0])
	observer.observe(h2[1])
	observer.observe(h2[2])
	
	 */
</script>
<script type="text/javascript">
$(function(){
	// #ul의 자식 엘리먼트(li)가 몇번째인지 확인한 후 a요소를 찾은 후 on이라는 클래스 추가
    $('#mainul').children().eq(0).find('a').addClass('on');

});
</script>
<body>


	<!-- Home -->

	<div class="home">
<div class="home_slider_container">

		<!-- Home Slider -->
		<div class="owl-carousel owl-theme home_slider">
		
			<!-- Home Slider Item -->
			
			<div class="owl-item">
				<div id="homeimg" class="home_slider_background"
					th:style="'background-image:url(' + @{/images/slide18.png} + ')'"></div>
				<div class="home_slider_content">
					<div class="container">
						<div class="row">
							<div class="col text-center">
								<div class="home_slider_title"><br><br></div>
								<div class="home_slider_subtitle"></div>
								<div class="home_slider_form_container">
									<form th:action="@{/mentoring/defaultmultimainsearch}" id="search_form_mentoring3"
										class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
										<div
											class="d-flex flex-row align-items-center justify-content-start">
											<input type="text" class="home_search_input" name="txt"
												 required="required"> <select
												class="dropdown_item_select home_search_input" name="mname">
												<option value="all">전체</option>
												<option th:each="mtc:${mtcatelist}" th:text="${mtc.mname}" th:value="${mtc.mname}"></option>
											</select> 
 											<select name="mtype" class="dropdown_item_select home_search_input">
												<option value="lowprice" selected>가격순</option>
												<option value="orderreview">별점순</option>
												<option value="recentmen">빠른 멘토링</option>
												<option value="mcaringok">사후관리</option>
											</select>
										<button id="search_button3" type="submit" class="home_search_button">검색</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			
			<div class="owl-item">
				<div class="home_slider_background"
					th:style="'background-image:url(' + @{/images/slide16.png} + ')'"></div>
				<div class="home_slider_content">
					<div class="container">
						<div class="row">
							<div class="col text-center">
								<div class="home_slider_title"><br><br></div>
								<div class="home_slider_subtitle"></div>
								<div class="home_slider_form_container">
									<form th:action="@{/mentoring/defaultmultimainsearch}" id="search_form_mentoring3"
										class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
										<div
											class="d-flex flex-row align-items-center justify-content-start">
											<input type="text" class="home_search_input" name="txt"
											 required="required"> <select
												class="dropdown_item_select home_search_input" name="mname">
												<option value="all">전체</option>
												<option th:each="mtc:${mtcatelist}" th:text="${mtc.mname}" th:value="${mtc.mname}"></option>
											</select> 
 											<select name="mtype" class="dropdown_item_select home_search_input">
												<option value="lowprice" selected>가격순</option>
												<option value="orderreview">별점순</option>
												<option value="recentmen">빠른 멘토링</option>
												<option value="mcaringok">사후관리</option>
											</select>
										<button id="search_button3" type="submit" class="home_search_button">검색</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>				
	
			<div class="owl-item">
				<div class="home_slider_background"
					th:style="'background-image:url(' + @{/images/slide19.png} + ')'"></div>
				<div class="home_slider_content">
					<div class="container">
						<div class="row">
							<div class="col text-center">
								<div class="home_slider_title"><br><br></div>
								<div class="home_slider_subtitle"></div>
								<div class="home_slider_form_container">
									<form th:action="@{/mentoring/defaultmultimainsearch}" id="search_form_mentoring3"
										class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
										<div
											class="d-flex flex-row align-items-center justify-content-start">
											<input type="text" class="home_search_input" name="txt"
												 required="required"> <select
												class="dropdown_item_select home_search_input" name="mname">
												<option value="all">전체</option>
												<option th:each="mtc:${mtcatelist}" th:text="${mtc.mname}" th:value="${mtc.mname}"></option>
											</select> 
 											<select name="mtype" class="dropdown_item_select home_search_input">
												<option value="lowprice" selected>가격순</option>
												<option value="orderreview">별점순</option>
												<option value="recentmen">빠른 멘토링</option>
												<option value="mcaringok">사후관리</option>
											</select>
										<button id="search_button3" type="submit" class="home_search_button">검색</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>				
			
		</div>
	</div>	
		<div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
		<div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>		
	</div>
	<!-- Features -->

	<div class="features">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center" id="section_title_slide">
						<h2 class="section_title" style = "font-family: 'Spoqa Han Sans Neo';">MOGOTCO에 오신것을 환영해요!</h2>
						<div class="section_subtitle">
							<!-- <p>Our mogotco is a mentoring site. Through our site, you can
								become a mentee and get advice and various insights through
								meetings with mentors. In addition, you can become a mentor and
								open mentoring to collect a certain amount of money and share
								your experiences and insights.</p> -->
						</div>
					</div>
				</div>
			</div>
			<div class="row features_row">

				<!-- Features Item -->
				<div class="col-lg-3 feature_col">
					<div class="feature text-center trans_400">
						<div class="feature_icon">
							<!-- <i class="fa-solid fa-people-group fa-5x"></i> -->
							<img th:src="@{/img/people3d.png}" />
						</div>
						<div>&nbsp</div>
						<div>&nbsp</div>
						<div>&nbsp</div>
						<h3 class="feature_title">&nbsp</h3>
						<h3 class="feature_title">훌륭한 멘토들</h3>
						<div>&nbsp</div>
						<div class="feature_text">
							<p>OCR명함 인식 서비스를 이용하여 멘토등록시 명함 인증과 승인기능을 통한 높은 신뢰성을 가진 멘토들이 있습니다.</p>
						</div>
					</div>
				</div>

				<!-- Features Item -->
				<div class="col-lg-3 feature_col">
					<div class="feature text-center trans_400">
						<div class="feature_icon">
							<!-- <i class="fa fa-user-plus fa-5x"></i> -->
							<img th:src="@{/img/pencil3d.png}" />
						</div>
						<div>&nbsp</div>
						<div>&nbsp</div>						
						<div>&nbsp</div>						
						<h3 class="feature_title">&nbsp</h3>
						<h3 class="feature_title">멘토 지원</h3>
						<div>&nbsp</div>
						<div class="feature_text">
							<p>누구든 멘토가 되고 싶다면 멘토 신청이 가능합니다.</p>
						</div>
					</div>
				</div>
				<!-- Features Item -->
				<div class="col-lg-3 feature_col">
					<div class="feature text-center trans_400">
						<div class="feature_icon">
							<!-- <i class="fa-solid fa-video fa-5x"></i> -->
							<img th:src="@{/img/video3d.png}" />
						</div>
						<div>&nbsp</div>
						<div>&nbsp</div>						
						<div>&nbsp</div>						
						<h3 class="feature_title">&nbsp</h3>
						<h3 class="feature_title">화상 회의</h3>
						<div>&nbsp</div>
						<div class="feature_text">
							<p>비대면 멘토링을 다른 화상회의 플랫폼을 통하지 않고 MOGOTCO에서 바로 진행이 가능합니다.</p>
						</div>
					</div>
				</div>

				<!-- Features Item -->
				<div class="col-lg-3 feature_col">
					<div class="feature text-center trans_400">
						<div class="feature_icon">
							<!-- <i class="fa fa-bell fa-5x"></i> -->
							<img th:src="@{/img/timer3d.png}" />
						</div>
						<div>&nbsp</div>
						<div>&nbsp</div>							
						<div>&nbsp</div>							
						<h3 class="feature_title">&nbsp</h3>
						<h3 class="feature_title">알림</h3>
						<div>&nbsp</div>
						<div class="feature_text">
							<p>멘토링 전날과 당일에 이메일로 알림을 보내드립니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Popular Courses -->

	<div class="courses">
		<div class="section_background parallax-window" 
			th:style="'background-image:url('+ @{/images/courses_background.jpg} +'); background-attachment: fixed;'" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<h2 class="section_title" style = "font-family: 'Spoqa Han Sans Neo';">지금 바로 신청할 수 있는 멘토링</h2>
						<div class="section_subtitle">
<!-- 							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices
								fermentum congue, quam velit venenatis sem</p> -->
						</div>
					</div>
				</div>
			</div>
			<div class="row courses_row">

				<!-- Course -->
				<div class="col-lg-4 course_col" th:each="i:${imme}">
					<div class="course">
						<div class="course_image">
							<img th:src="@{/img/}+${i.mentoringimg}" alt="">
						</div>
						<div class="course_body">
							<h3 class="course_title">
								<a th:href="@{/mentoring/mentoringdetail?(mentoringid=${i.mentoringid})}" th:text="${i.mtitle}" style="font-family: 'IBM Plex Sans KR', sans-serif;"></a>
							</h3>
							<div class="course_teacher" th:text="${i.user_username}" style="font-family: 'IBM Plex Sans KR', sans-serif;">Mr. John Taylor</div>
							<div class="course_text">
								<p th:text="${i.mcontents}" style="font-family: 'IBM Plex Sans KR', sans-serif;"></p>
							</div>
						</div>
						<div class="course_footer">
							<div
								class="course_footer_content d-flex flex-row align-items-center justify-content-start">
								<div class="course_info">
									<i class="fa-solid fa-calendar-days" aria-hidden="true"></i> <span th:text="${#dates.format(i.mentoringdate, 'yyyy-MM-dd')}"></span>
								</div>
								<div class="course_price ml-auto" th:text="${i.mentoringprice}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="courses_button trans_200">
						<a th:href="@{/mentoring/defaultmentoring}" style = "font-family: 'Spoqa Han Sans Neo';">더보기</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Team -->

	<div class="team">
		<div class="team_background parallax-window" data-parallax="scroll"
			th:data-image-src="@{/images/team_background.png}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<h2 class="section_title" style = "font-family: 'Spoqa Han Sans Neo';">인기 멘토</h2>
					</div>
				</div>
			</div>
			<div class="row team_row">

				<!-- Team Item -->
				<div class="col-lg-3 col-md-6 team_col" th:each="t:${topm}">
					<div class="team_item">
						<div class="team_image">
							<img  th:onclick="request([[${t.mentor_mentorid}]])" th:src="@{/img/}+${t.mentor_mentorimg}" alt="">
						</div>
						<div class="team_body">
							<div class="team_title">
								<a th:text="${t.mentor_userid}" id="mentor_userid"></a>
								<input type='hidden' th:value="${t.mentor_mentorid}" name='mentorid'
								id="mentorid"> 
							</div>
							<div class="team_subtitle" th:text="${t.mentor_mentorcom}" style="font-family: 'IBM Plex Sans KR', sans-serif;"></div>
							<div class="social_list">
								<ul>
									<li><a th:href="${t.user_snsgit}"><i
											class="fa fa-github" aria-hidden="true"></i></a></li>
									<li><a th:href="${t.user_snsinsta}"><i
											class="fa fa-instagram" aria-hidden="true"></i></a></li>
									<li><a id="kakaotalksharingbtn"><img  th:onclick="shareMessage([[${t.mentor_mentorid}]],[[${t.mentor_userid}]])" src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_small.png" alt="카카오톡 공유 보내기 버튼" /></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
  Kakao.init('b67794657ed6e950ec05402c7a55d07f'); // 사용하려는 앱의 JavaScript 키 입력
</script>

<script>
function shareMessage(mentor_mentorid,mentor_userid) {
Kakao.Share.sendDefault({
    objectType: 'feed',
    content: {
      title: 'Mogotco mentor',
      description: 'mentorid : '+mentor_userid,
      imageUrl:
          '',
      link: {
        // [내 애플리케이션] > [플랫폼] 에서 등록한 사이트 도메인과 일치해야 함
        mobileWebUrl: 'http://127.0.0.1/mogotco/mentor/nonid?mentorid='+mentor_mentorid,
        webUrl: 'http://127.0.0.1/mogotco/mentor/nonid?mentorid='+mentor_mentorid,
      },
    },
    buttons: [
      {
        title: 'web',
        link: {
          mobileWebUrl: 'http://127.0.0.1/mogotco/mentor/nonid?mentorid='+mentor_mentorid,
          webUrl: 'http://127.0.0.1/mogotco/mentor/nonid?mentorid='+mentor_mentorid,
        },
      },
      {
        title: 'app',
        link: {
          mobileWebUrl: 'http://127.0.0.1/mogotco/mentor/nonid?mentorid='+mentor_mentorid,
          webUrl: 'http://127.0.0.1/mogotco/mentor/nonid?mentorid='+mentor_mentorid,
        },
      },
    ],
  });
}
</script>
</html>