<!DOCTYPE html>
<html lang="en">
<head>
<link th:href="@{/plugins/colorbox/colorbox.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/styles/course.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/course_responsive.css}">
<script th:src="@{/plugins/colorbox/jquery.colorbox-min.js}"></script>
<script th:src="@{/js/course.js}"></script>
</head>

	
	<!-- Home -->

	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a th:href="@{/}">Home</a></li>
								<li>Notice</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>

	<!-- Course -->

	<div class="course">
		<div class="container">
			<div class="row">

				<!-- Course -->
				<div class="col-lg-12">
					
					<div class="course_container">
						<div class="course_title">Notice</div>

						<!-- Course Tabs -->
						<div class="course_tabs_container">
							<div class="tab_panels">

								<!-- Curriculum -->
								<div class="tab_panel active">
									<div class="tab_panel_content">
										<div class="tab_panel_content">

											<!-- Dropdowns -->
											<ul class="dropdowns">
												<li th:each="nt:${nt}" >
													<div class="dropdown_item">
														<div class="dropdown_item_title">
														<a th:href = "@{/noticedetail(boardid=${nt.boardid})}" th:text = "${nt.boardtitle}">Lecture 1: Lorem Ipsn gravida nibh vel velit auctor aliquet.</a>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Course Sidebar -->
			</div>
		</div>
	</div>
