<!DOCTYPE html>
<html lang="en">
<head>
<link th:href="@{/plugins/colorbox/colorbox.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/styles/blog_single.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/blog_single_responsive.css}">
<script th:src="@{/plugins/colorbox/jquery.colorbox-min.js}"></script>
<script th:src="@{/js/blog_single.js}"></script>
</head>

	
	<!-- Home -->

	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a th:href="@{/}">Home</a></li>
								<li><a th:href="@{/notice}">Notice</a></li>
								<li>NoticeDetail</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>

	<!-- Blog -->

	<div class="blog">
		<div class="container">
			<div class="row">
				<!-- Blog Content -->
				<div class="col-lg-12">
					<div class="blog_content">
						<div th:text="${nt.boardtitle}" class="blog_title">Notice Title</div>
						<div class="blog_meta">
							<ul>
								<li th:text = "|Post On ${#dates.format(nt.boarddate, 'yyyy-MM-dd')}|">Post on May 5, 2018</li>
								<li th:text = "|By ${nt.adminid}|">By admin</li>
							</ul>
						</div>
						<div th:text = "${nt.boardcontent}" class="blog_subtitle">Notice Content</div>
					</div>
					<div class="blog_extra d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
					</div>
				</div>
			</div>
		</div>
	</div>

