<!DOCTYPE html>
<html lang="en">
<head>
<link th:href="@{/plugins/video-js/video-js.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/styles/blog.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/blog_responsive.css}">
<script th:src="@{/plugins/masonry/masonry.js}"></script>
<script th:src="@{/plugins/video-js/video.min.js}"></script>
<script th:src="@{/js/blog.js}"></script>
</head>
	
	<!-- Home -->

	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a th:href="@{/}">Home</a></li>
								<li>Blog</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>

	<!-- Blog -->

	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<h2 class="section_title">Mentor Wishlist</h2>
						<div class="section_subtitle">&nbsp</p></div>
					</div>					
					<div class="blog_post_container">
					
						<!-- Blog Post -->
						<div class="blog_post trans_200">
							<div class="blog_post_body">
							
								<!-- Latest Course -->
								<div class="latest d-flex flex-row align-items-start justify-content-start">
									<div class="latest_image">
										<div>
											<a>
											<img th:src="@{/images/defaultprofileupload.jpg}" style="width:100px" alt="">
											</a>
										</div>
									</div>
								<div class="blog_post_meta">
									<ul>
										<li>&nbsp&nbsp<a>adminfdsadsds</a></li>
									</ul>
									<ul>
										<li>&nbsp&nbsp<a>admindsfafsfsd</a></li>
									</ul>
									<ul>
										<li>&nbsp&nbsp<a>admindsffadsds</a></li>
									</ul>																		
								</div>
								</div>

							</div>
						</div>

						<!-- Blog Post -->
						<div class="blog_post trans_200">
							<div class="blog_post_body">
							
								<!-- Latest Course -->
								<div class="latest d-flex flex-row align-items-start justify-content-start">
									<div class="latest_image">
										<div>
											<a>
											<img th:src="@{/images/defaultprofileupload.jpg}" style="width:100px" alt="">
											</a>
										</div>
									</div>
								<div class="blog_post_meta">
									<ul>
										<li><a href="#">admin</a></li>
										<li><a href="#">november 11, 2017</a></li>
									</ul>
								</div>
								</div>

							</div>
						</div>						
						
						<!-- Blog Post -->
						<div class="blog_post trans_200">
							<div class="blog_post_body">
							
								<!-- Latest Course -->
								<div class="latest d-flex flex-row align-items-start justify-content-start">
									<div class="latest_image">
										<div>
											<a>
											<img th:src="@{/images/defaultprofileupload.jpg}" style="width:100px" alt="">
											</a>
										</div>
									</div>
								<div class="blog_post_meta">
									<ul>
										<li><a href="#">admin</a></li>
										<li><a href="#">november 11, 2017</a></li>
									</ul>
								</div>
								</div>

							</div>
						</div>
						
						<!-- Blog Post -->
						<div class="blog_post trans_200">
							<div class="blog_post_body">
							
								<!-- Latest Course -->
								<div class="latest d-flex flex-row align-items-start justify-content-start">
									<div class="latest_image">
										<div>
											<a>
											<img th:src="@{/images/defaultprofileupload.jpg}" style="width:100px" alt="">
											</a>
										</div>
									</div>
								<div class="blog_post_meta">
									<ul>
										<li><a href="#">admin</a></li>
										<li><a href="#">november 11, 2017</a></li>
									</ul>
								</div>
								</div>

							</div>
						</div>
						
												<!-- Blog Post -->
						<div class="blog_post trans_200">
							<div class="blog_post_body">
							
								<!-- Latest Course -->
								<div class="latest d-flex flex-row align-items-start justify-content-start">
									<div class="latest_image">
										<div>
											<a>
											<img th:src="@{/images/defaultprofileupload.jpg}" style="width:100px" alt="">
											</a>
										</div>
									</div>
								<div class="blog_post_meta">
									<ul>
										<li>&nbsp&nbsp<a>adminfdsadsds</a></li>
									</ul>
									<ul>
										<li>&nbsp&nbsp<a>admindsfafsfsd</a></li>
									</ul>
									<ul>
										<li>&nbsp&nbsp<a>admindsffadsds</a></li>
									</ul>																		
								</div>
								</div>

							</div>
						</div>												
						
					</div>										
					
				</div>
			</div>
<!-- 			<div class="row">
				<div class="col text-center">
					<div class="load_more trans_200"><a href="#">load more</a></div>
				</div>
			</div> -->
		</div>
	</div>



	<!-- Newsletter -->

	<div class="newsletter">
		<div class="newsletter_background" th:style="'background-image:url(' + @{/images/newsletter_background.jpg} + ')'"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_container d-flex flex-lg-row flex-column align-items-center justify-content-start">

						<!-- Newsletter Content -->
						<div class="newsletter_content text-lg-left text-center">
							<div class="newsletter_title">sign up for news and offers</div>
							<div class="newsletter_subtitle">Subcribe to lastest smartphones news & great deals we offer</div>
						</div>

						<!-- Newsletter Form -->
						<div class="newsletter_form_container ml-lg-auto">
							<form action="#" id="newsletter_form" class="newsletter_form d-flex flex-row align-items-center justify-content-center">
								<input type="email" class="newsletter_input" placeholder="Your Email" required="required">
								<button type="submit" class="newsletter_button">subscribe</button>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>



