<!DOCTYPE html>
<html lang="en">
<head>
<link th:href="@{/plugins/video-js/video-js.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/styles/blog.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/blog_responsive.css}">
<script th:src="@{/plugins/masonry/masonry.js}"></script>
<script th:src="@{/plugins/video-js/video.min.js}"></script>
<script th:src="@{/js/blog.js}"></script>
<script>
function del(wishlistid) {
	var userid = '[[${session.loginuser.userid}]]';
	var c = confirm('삭제 하시겠습니까?');
	if (c == true) {
		location.href = '[[@{/wishlist/removewishlist?wishlistid=}]]' + wishlistid + '&[[@{userid=}]]'
		+ userid;
	}
};
</script>

</head>
	
	<!-- Home -->

	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a th:href="@{/}">Home</a></li>
								<li>Wishlist</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>

	<!-- Blog -->

	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<h2 class="section_title">Mentor Wishlist</h2>
						<div class="section_subtitle">&nbsp</p></div>
					</div>					
					<div class="blog_post_container">
						<!-- Blog Post -->
						<div class="blog_post trans_200" th:each="wlist:${wlist}">
							<div class="blog_post_body">
								<button type="button" class="close" th:onclick="del([[${wlist.wishlistid}]])" data-dismiss="modal" id="remove_btn" style="color:#A5B8D3">&times;</button>
							
								<!-- Latest Course -->
								<div class="latest d-flex flex-row align-items-start justify-content-start">
									<div class="latest_image">
										<div>
											<a th:href="@{/mentor/mentordetail(mentorid=${wlist.mentorid})}">
											<img th:src="@{/images/}+${wlist.mentor_mentorimg}" th:style="${'height:100px'}" alt="">
											</a>
										</div>
									</div>
								<div class="blog_post_meta">
									<ul>
									<input class="comment_input" th:value="${wlist.wishlistid}" id="wishlistid" style ="display:none">
										<li>&nbsp&nbsp<a></a></li>
									</ul>
									<ul>
										<li>&nbsp&nbsp&nbsp<a th:text="${wlist.mentor_mentorcom}">회사</a></li>
									</ul>
									<ul>
										<li>&nbsp&nbsp&nbsp<a th:text="${wlist.user_mentorname}" th:href="@{/mentor/mentordetail(mentorid=${wlist.mentorid})}">이름</a></li>
									</ul>																		
								</div>
								</div>

							</div>
						</div>

						<!-- Blog Post -->						
						
						<!-- Blog Post -->
						
						<!-- Blog Post -->
						
						<!-- Blog Post -->												
						
					</div>										
					
				</div>
			</div>

		</div>
	</div>

			  <!-- The Modal -->
<!-- 			  <div class="modal fade" id="removeModal">
			    <div class="modal-dialog modal-dialog-centered modal-sm">
			      <div class="modal-content">
			      
			        Modal Header
			        <div>
			        </div>
			        
			        Modal body
			        <div class="modal-body text-center">
			          <i class="fa-regular fa-face-frown-open fa-4x"></i>
			          <div>&nbsp</div>
			          <h4 class="modal-title">삭제하시겠습니까?</h4>
			          <div>&nbsp</div>
			          <button type="button" class="btn btn-secondary" data-dismiss="modal">삭제</button>
			        </div>
			        
			        Modal footer
			        <div>
			        </div>
			        
			      </div>
			    </div>
			  </div> -->



